{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'real/js/highcharts.js' %}"></script>
    <script src="{% static 'real/js/functions.js' %}"></script>
    <link href="{% static 'real/css/styles.css' %}" rel="stylesheet">
    
    <script>

    </script>
{% endblock %}

{% block title %}
    Atividade 3: Cultivos
{% endblock %}

{% block content %}

Obrigado por completar a Atividade 2. Agora, vamos fazer um exercício semelhante, mas relacionado à agricultura.
<br>
<br>
Suponha que você é um(a) agricultor(a) e tem uma terra de 100 hectares. Dois cultivos podem ser cultivados nesta terra. 
<br>
<br>
Você pode cultivar apenas o <i>Cultivo A</i>, apenas o <i>Cultivo B</i>, ou você pode dividir sua terra e plantar os dois cultivos ao mesmo tempo. 
<br>
<br>
Sua tarefa é decidir em quantos hectares cultivar de cada cultivo. Para tomar sua decisão, te mostraremos os retornos dos cultivos em <b>8 CENÁRIOS</b> possíveis.
<br>
<br>
<b>O que acontece se o computador selecionar esta atividade para calcular o seu pagamento total?</b>
<br>
<br>
O computador selecionará aleatoriamente um dos oito cenários. Seu pagamento será o número de hectares usados para o <i>Cultivo A</i> e <i>Cultivo B</i> multiplicado pelo retorno de cada um no CENÁRIO selecionado.
<br>
<br>

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" id="id_next">Avançar</button>
</div>

{% endblock %}
