{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'real/js/highcharts.js' %}"></script>
    <script src="{% static 'real/js/functions.js' %}"></script>
    <link href="{% static 'real/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var intervalID;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }}
        var cnt_cards = 0;
        var step_view = 1;
        var start = Date.now();
        var cnt = 0;
        var cnt_2 = 0;
        var cnt_scenario = 0;
        var slider_act = 0;
        var cnt_mistakes = 0;
        var cnt_questions = [0, 0, 0, 0, 0];

        // Gráfica
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    text: 'Escenarios'
                },
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Rentabilidade em reais por hectár'
                },
                min: {{ min_y }} - 5,
                max: {{ max_y }} + 5
            },
            series: [{
                animation: false,
                data: [],
                lineWidth: 0,
                enableMouseTracking: false,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Cultivo A',
                dashStyle: 'Dash'
            }, {
                animation: false,
                data: [],
                lineWidth: 0,
                enableMouseTracking: false,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Cultivo B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function add_point_graph(n_data) {
            let y_pos_a;
            let y_pos_b;
            if(((data_a[n_data] > 0) && (data_b[n_data] > 0)) || ((data_a[n_data] < 0) && (data_b[n_data] < 0))){
                if(data_a[n_data] > data_b[n_data]){
                    y_pos_a = -5;
                    y_pos_b = 25;
                } else {
                    y_pos_a = 25;
                    y_pos_b = -5;
                }
            } else {
                if(data_a[n_data] > 0) {
                    y_pos_a = -5;
                } else {
                    y_pos_a = 25;
                }
                if(data_b[n_data] > 0) {
                    y_pos_b = -5;
                } else {
                    y_pos_b = 25;
                }
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos_b,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_a(n_data) {
            let y_pos;
            if(data_a[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_b(n_data) {
            let y_pos;
            if(data_b[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextCard() {
            if(cnt_cards < 7) {
                add_point_graph(cnt_cards);
            } else {
                add_point_graph(cnt_cards);
                clearInterval(intervalID);
            }
            cnt_cards += 1;
        }

        function nextCard_a() {
            if(cnt_cards < 7) {
                add_point_a(cnt_cards);
            } else {
                add_point_a(cnt_cards);
                clearInterval(intervalID);
                cnt_cards = -1;
                cnt += 1;
                if (cnt == 2) {
                    document.getElementById('btnNext').style.display = 'block';
                    document.getElementById('btnNext').style.margin = '0 auto';
                }
            }
            cnt_cards += 1;
        }

        function nextCard_b() {
            if(cnt_cards < 7) {
                add_point_b(cnt_cards);
            } else {
                add_point_b(cnt_cards);
                clearInterval(intervalID);
                cnt_cards = -1;
                cnt += 1;
                if (cnt == 2) {
                    document.getElementById('btnNext').style.display = 'block';
                    document.getElementById('btnNext').style.margin = '0 auto';
                }
            }
            cnt_cards += 1;
        }

        function visibleA() {
            document.getElementById("btn_a").style.backgroundColor = "#989898";
            document.getElementById("btn_a").disabled = true;
            document.getElementById("btn_b").style.backgroundColor = "#007bff";
            document.getElementById("btn_b").disabled = false;
            nextCard_a();
            intervalID = setInterval(nextCard_a, 0);
            graph.series[1].setData([]);
        }

        function visibleB() {
            document.getElementById("btn_b").style.backgroundColor = "#989898";
            document.getElementById("btn_b").disabled = true;
            document.getElementById("btn_a").style.backgroundColor = "#007bff";
            document.getElementById("btn_a").disabled = false;
            nextCard_b();
            intervalID = setInterval(nextCard_b, 0);
            graph.series[0].setData([]);
        }

        function visibleAB() {
            document.getElementById("btn_ab").style.backgroundColor = "#989898";
            document.getElementById("btn_ab").disabled = true;
            nextCard();
            intervalID = setInterval(nextCard, 0);
        }

        function nextView() {
            document.getElementById('time_cultivos_4').value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        $(document).ready(function () {
            $('#sliderDinero').change(
                function (event) {
                    var slider_id = event.target.id;
                    var slider_value = event.target.value;
                    var parent_slider = document.getElementById(slider_id).parentElement.parentElement.parentElement;
                    var child = parent_slider.children[0].children[0].firstElementChild;
                    child.innerHTML = slider_value + "%";
                }
            );
        });

        function review_q1() {
            document.getElementById('div_error_q1').style.display = 'none';
            let val_q1 = Number(document.getElementById('question_1_real').value);
            if ((val_q1 < 0) || (val_q1 > 100)) {
                document.getElementById('div_error_q1').style.display = 'block';
                document.getElementById('div_error_q1').style.margin = '0 auto';
            }
            cnt_questions[0] = 1;
            validate_sum();
        }

        function review_q2() {
            cnt_questions[1] = 1;
            validate_sum();
        }

        function review_q3() {
            cnt_questions[2] = 1;
            validate_sum();
        }

        function review_q4() {
            cnt_questions[3] = 1;
            validate_sum();
        }

        function review_q5() {
            cnt_questions[4] = 1;
            validate_sum();
        }

        function validate_sum() {
            let suma = cnt_questions.reduce((acumulador, numero) => acumulador + numero, 0);
            if (suma == 5) {
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
        }

    </script>
{% endblock %}

{% block title %}
    Atividade 3: Cultivos
{% endblock %}

{% block content %}

A seguir, fazemos algumas perguntas sobre as duas opções de cultivo. Por favor, responda-as com atenção.
<br>
<br>
<div>
    <table style="text-align: center; width: 90%; margin: 0 auto;">
        <tr>
            {% if graphType == 1 %}
            <td><input type="button" value="Mostrar Cultivos A e B" onclick="visibleAB()" id="btn_ab"></td>
            {% else %}
            <td><input type="button" value="Mostrar Cultivo A" onclick="visibleA()" id="btn_a"></td>
            <td><input type="button" value="Mostrar Cultivo B" onclick="visibleB()" id="btn_b"></td>
            {% endif %}
        </tr>
    </table>
    <br>
    <div id="graph01" class="div_graph"></div>
</div>

<br>

<div id="questions">
    <div class="card_table" style="text-align: left; width: 80% !important;">
        <ol>
            <li style="margin-top: 10px;">Se o rendimento do Cultivo A for baixo, espero que o rendimento do Cultivo B seja alto em <input type="number" class="inNumber" name="question_1_real" id="question_1_real" min="0" max="100" required style="display: inline; margin-left: 5px; margin-right: 5px;" oninput="review_q1()"> de 8 casos. </li>
            <div class="error_msg" id="div_error_q1">
                O valor deve ser entre 0 e 8.
            </div>

            <li style="margin-top: 10px;">Si el rendimiento del Cultivo A es alto, es más probable que el rendimiento del Cultivo B:</li>
            <div class="card_table" id="radio_option" style="text-align: left; margin-top: 10px;">
                <input type="radio" id="q2_o1" name="question_2_real" value="1" class="items01" oninput="review_q2()">
                <label for="q2_o1" id="l_q2_o1" class="items01"> Sea alto</label>
                <br>
                <input type="radio" id="q2_o2" name="question_2_real" value="2" class="items01" oninput="review_q2()">
                <label for="q2_o2" id="l_q2_o2" class="items01">Sea bajo</label>
                <br>
                <input type="radio" id="q2_o3" name="question_2_real" value="3" class="items01" oninput="review_q2()">
                <label for="q2_o3" id="l_q2_o3" class="items01">Sea igual</label>
            </div>

            <li style="margin-top: 10px;">Suponga que se selecciona un ESCENARIO al azar, ¿Cuál es la probabilidad de que los rendimientos del Cultivo B sean bajos? </li>
            <div class="card_table" id="div_slider_porcentaje" style="text-align: center; margin-top: 10px;">
            <table class="table_question" style="margin: 0 auto; width: 70% !important;">
                <tr>
                    <td>
                        <span>- %</span>
                    </td>
                </tr>
                <tr>
                    <td class="td_slider">
                        <input type="range" name="question_3_real" value="" min="0" max="100" step="1" id="sliderDinero" class="slider_dinero" required oninput="review_q3()">
                    </td>
                </tr>
            </table>
        </div>

        <li style="margin-top: 10px;">¿Qué tan riesgosa considera usted que es su asignación?</li>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr>
                <td style="width: 15%;">
                    Libre de riesgos
                </td>
                <td>
                    <input type="radio" id="risk_op0" name="question_4_real" value="0" class="items01" oninput="review_q4()"><br>0
                </td>
                <td>
                    <input type="radio" id="risk_op1" name="question_4_real" value="1" class="items01" oninput="review_q4()"><br>1
                </td>
                <td>
                    <input type="radio" id="risk_op2" name="question_4_real" value="2" class="items01" oninput="review_q4()"><br>2
                </td>
                <td>
                    <input type="radio" id="risk_op3" name="question_4_real" value="3" class="items01" oninput="review_q4()"><br>3
                </td>
                <td>
                    <input type="radio" id="risk_op4" name="question_4_real" value="4" class="items01" oninput="review_q4()"><br>4
                </td>
                <td>
                    <input type="radio" id="risk_op5" name="question_4_real" value="5" class="items01" oninput="review_q4()"><br>5
                </td>
                <td>
                    <input type="radio" id="risk_op6" name="question_4_real" value="6" class="items01" oninput="review_q4()"><br>6
                </td>
                <td>
                    <input type="radio" id="risk_op7" name="question_4_real" value="7" class="items01" oninput="review_q4()"><br>7
                </td>
                <td>
                    <input type="radio" id="risk_op8" name="question_4_real" value="8" class="items01" oninput="review_q4()"><br>8
                </td>
                <td>
                    <input type="radio" id="risk_op9" name="question_4_real" value="9" class="items01" oninput="review_q4()"><br>9
                </td>
                <td>
                    <input type="radio" id="risk_op10" name="question_4_real" value="10" class="items01" oninput="review_q4()"><br>10
                </td>
                <td style="width: 15%;">
                    Muy riesgosa
                </td>
            </tr>
        </table>

        <li style="margin-top: 10px;">¿Qué tan seguro está de su decisión de cultivo?</li>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr>
                <td style="width: 15%;">
                    Nada seguro
                </td>
                <td>
                    <input type="radio" id="insurance_op0" name="question_5_real" value="0" class="items01" oninput="review_q5()"><br>0
                </td>
                <td>
                    <input type="radio" id="insurance_op1" name="question_5_real" value="1" class="items01" oninput="review_q5()"><br>1
                </td>
                <td>
                    <input type="radio" id="insurance_op2" name="question_5_real" value="2" class="items01" oninput="review_q5()"><br>2
                </td>
                <td>
                    <input type="radio" id="insurance_op3" name="question_5_real" value="3" class="items01" oninput="review_q5()"><br>3
                </td>
                <td>
                    <input type="radio" id="insurance_op4" name="question_5_real" value="4" class="items01" oninput="review_q5()"><br>4
                </td>
                <td>
                    <input type="radio" id="insurance_op5" name="question_5_real" value="5" class="items01" oninput="review_q5()"><br>5
                </td>
                <td>
                    <input type="radio" id="insurance_op6" name="question_5_real" value="6" class="items01" oninput="review_q5()"><br>6
                </td>
                <td>
                    <input type="radio" id="insurance_op7" name="question_5_real" value="7" class="items01" oninput="review_q5()"><br>7
                </td>
                <td>
                    <input type="radio" id="insurance_op8" name="question_5_real" value="8" class="items01" oninput="review_q5()"><br>8
                </td>
                <td>
                    <input type="radio" id="insurance_op9" name="question_5_real" value="9" class="items01" oninput="review_q5()"><br>9
                </td>
                <td>
                    <input type="radio" id="insurance_op10" name="question_5_real" value="10" class="items01" oninput="review_q5()"><br>10
                </td>
                <td style="width: 15%;">
                    Muy seguro
                </td>
            </tr>
        </table>

        </ol>
    </div>
</div>

<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" style="display: none;" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

<input type="hidden" value="" name="time_cultivos_4" id="time_cultivos_4" required>

{% endblock %}
