{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Agro
{% endblock %}

{% block content %}

<div id="q1">
    <label for="hectares_list" id="l_hectares_list">El año pasado ¿Cuántas hectáreas dedicó a actividades agrícolas o pecuarias?</label><br>
    <select id="hectares_list" class="input-list" name="q_hectares" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in hectares_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q2">
    <label for="farminc_list" id="l_farminc_list">¿Cuál es la principal fuente de ingresos de la finca donde trabaja?</label><br>
    <select id="farminc_list" class="input-list" name="q_farminc" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in farminc_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q3">
    <label for="crops_list" id="l_crops_list">¿Cuando cultiva, cuántos cultivos diferentes siembra al mismo tiempo?</label><br>
    <select id="crops_list" class="input-list" name="q_crops" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in crops_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q4">
    <label for="cropTypes_list" id="l_cropTypes_list">¿Qué tipo de cultivos sembró el año pasado? (Puede marcar varias opciones)</label><br>
        {% for opcion in cropTypes_list %}
        <label><input type="checkbox" name="q_cropTypes[]" value="{{ opcion }}">{{ opcion }}</label><br>
        {% endfor %}
</div>

<br>


{% formfields %}

<div style="text-align: center; width: 100%">
{% next_button %}
</div>

{% endblock %}