{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">

    <script>

        function nextView() {
            // crop types -> crops1
            document.getElementById('q_cropTypes').value = getChecked('opt_cropTypes');
            // events
            document.getElementById('q_events').value = getChecked('opt_events');
            // Botón de siguiente
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function getChecked(name_tag) {
            let checkbox_selected = "[";
            let checkbox = document.getElementsByName(name_tag);
            for (let i=0; i<checkbox.length; i++) {
                if (checkbox[i].checked) {
                    checkbox_selected += checkbox[i].value;
                    checkbox_selected += ", ";
                }
            }
            checkbox_selected = checkbox_selected.substr(0, checkbox_selected.length-2);
            checkbox_selected += "]";
            return checkbox_selected;
        }

    </script>

{% endblock %}

{% block title %}
    Perguntas finais
{% endblock %}

{% block content %}

<div id="q1">
    <label for="hectares_list" id="l_hectares_list"><b>Qual é o tamanho médio em hectares da fazenda onde você (ou alguém da sua residência) trabalha?</b></label><br>
    <select id="hectares_list" class="input-list" name="q_hectares" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in hectares_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q2">
    <label for="farminc_list" id="l_farminc_list"><b>Qual é a principal fonte de renda da fazenda onde você (ou alguém da sua residência) trabalha?</b></label><br>
    <select id="farminc_list" class="input-list" name="q_farminc" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in farminc_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q3">
    <label for="crops_list" id="l_crops_list"><b>Normalmente, quantos cultivos diferentes você (ou alguém da sua residência) cultiva ao mesmo tempo?</b></label><br>
    <select id="crops_list" class="input-list" name="q_crops" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in crops_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q4">
    <b>Que tipo de cultivos você cultivou no ano passado? Você pode marcar várias opções.</b><br>
        {% for opcion in cropTypes_list %}
        <label><input type="checkbox" name="opt_cropTypes" value="{{ opcion }}">{{ opcion }}</label><br>
        {% endfor %}
        <input type="hidden" id="q_cropTypes" name="q_cropTypes">
</div>

<br>

<div id="q5">
    <label for="cropsLoss_list" id="l_cropsLoss_list"><b>Você já teve uma quebra de safra?</b></label><br>
    <select id="cropsLoss_list" class="input-list" name="q_cropsLoss" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in cropsLoss_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q6">
    <label for="savings_list" id="l_savings_list"><b>Você tem reservas financeiras ou outras formas de renda para se proteger contra quebras de safra?</b></label><br>
    <select id="savings_list" class="input-list" name="q_savings" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in savings_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q7">
    <b>Com que frequência você realiza alguma das seguintes atividades para proteger sua renda contra quebras de safra?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr><td colspan="13" style="width: 0.5rem;"><hr width="100%;"></td></tr>
            {% for i in protection_list %}
            <table class="table_option">
                <tr class="row_option_sta" id="row_option_sta_{{ forloop.counter }}"><td colspan="13"><ul><li>{{ i }}</li></ul></td></tr>
                <tr class="row_option_opt" id="row_option_opt_{{ forloop.counter }}">
                    <td style="width: 15%;">
                        Nunca
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op0" name="q_protection_{{ forloop.counter }}" value="0" class="items01" required><br>0
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op1" name="q_protection_{{ forloop.counter }}" value="1" class="items01"><br>1
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op2" name="q_protection_{{ forloop.counter }}" value="2" class="items01"><br>2
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op3" name="q_protection_{{ forloop.counter }}" value="3" class="items01"><br>3
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op4" name="q_protection_{{ forloop.counter }}" value="4" class="items01"><br>4
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op5" name="q_protection_{{ forloop.counter }}" value="5" class="items01"><br>5
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op6" name="q_protection_{{ forloop.counter }}" value="6" class="items01"><br>6
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op7" name="q_protection_{{ forloop.counter }}" value="7" class="items01"><br>7
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op8" name="q_protection_{{ forloop.counter }}" value="8" class="items01"><br>8
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op9" name="q_protection_{{ forloop.counter }}" value="9" class="items01"><br>9
                    </td>
                    <td>
                        <input type="radio" id="q_protection_{{ forloop.counter }}_op10" name="q_protection_{{ forloop.counter }}" value="10" class="items01"><br>10
                    </td>
                    <td style="width: 15%;">
                        Sempre
                    </td>
                </tr>
            </table>
            <tr><td colspan="13"><hr width="100%;"></td></tr>
            {% endfor %}
        </table>
</div>

<br>

<div class="div_btnNext">
    <input type="button" value="Avançar" class="btnNext" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Avançar</button>
</div>

{% endblock %}