{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">

    <script>

        function validate_number(input) {
            let div_error = input.nextElementSibling;
            div_error.style.display = 'none';
            div_error.innerHTML = '';
            let value = input.value;
            let regex =  /^[0-9]*$/;
            if ((value == '-') || (value == '.') || (value == '+')) {
                value = null;
                input.value = '';
            } else {
                value = value.replace('-', '');
                value = value.replace('.', '');
                value = value.replace('+', '');
                input.value = value;
            }
            if (input.id == 'income_box') {
                if (!regex.test(value)) {
                    console.log('1', value);
                    value = value.replace('$ ', '');
                    value = value.replace('.', '');
                    value = value.replace(/[^\d]/g, '');
                    console.log('2', value);
                    console.log('l', value.length);
                    if (value.length == 0) {
                        value = null;
                        input.value = '';
                    } else {
                        value = Number(value);
                        input.value = value;
                    }
                    console.log('3', value);
                }
            }
            if (!regex.test(value)) {
                div_error.style.display = 'block';
                div_error.innerHTML = 'No tiene un formato de número';
                input.value = '';
                value = null;
            }
            switch (input.id) {
                case 'age_box':
                    if((Number(value) < 0) || (Number(value) > 99)) {
                        show_error(input, div_error, 'Debe ser un valor entre 1 y 99');
                    }
                break;
                case 'children_box':
                case 'family_box':
                    if((Number(value) < 0) || (Number(value) > 20)) {
                        show_error(input, div_error, 'Debe ser un valor entre 0 y 20');
                    }
                break;
                case 'workers_box':
                    if (document.getElementById('family_box').value == "") {
                        show_error(input, div_error, 'Primero ingrese la cantidad de personas que conforman el hogar (2 preguntas arriba)');
                    } else {
                        let maxi = Number(document.getElementById('family_box').value);
                        if((Number(value) < 0) || (Number(value) > maxi)) {
                            show_error(input, div_error, 'Debe ser un valor entre 0 y ' + maxi + ' (lo que respondiste 2 preguntas arriba)');
                        } else {
                            input.max = maxi;
                        }
                    }
                break;
                case 'income_box':
                    if((Number(value) < 0) || (Number(value) > 100000000)) {
                        show_error(input, div_error, 'Debe ser un valor entre $ 1 y $ 100.000.000');
                    } else {
                        if (value != null) {
                            input.value = "$ " + Number(value).toLocaleString('es-CO');
                        }
                    }
                break
            }
        }

        function show_error(input, div_error, msg) {
            div_error.style.display = 'block';
            div_error.innerHTML = msg;
            input.value = '';
        }

        function nextView() {
            let income_box = document.getElementById('income_box');
            val = income_box.value;
            val = val.replace('$ ', '');
            val = val.replace('.', '');
            val = val.replace(/[^\d]/g, '');
            income_box.value = val;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

    </script>

{% endblock %}

{% block title %}
    Encuesta final
{% endblock %}

{% block content %}

<div id="q1">
    <label for="age_box" id="l_age_box">¿Cuál es tu edad, en años?</label><br>
    <input type="number" name="q_age" id="age_box" class="inNumber" min="0" max="99" oninput="validate_number(this)" required>
    <div style="color:red; text-align: left; display: none;"></div>
</div>

<br>

<div id="q2">
    <label for="gender_list" id="l_gender_list">¿Con qué género se identifica?</label><br>
    <select id="gender_list" class="input-list" name="q_gender" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in gender_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q3">
    <label for="married_list" id="l_married_list">¿Cuál es tu estado civil?</label><br>
    <select id="married_list" class="input-list" name="q_married" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in married_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q4">
    <label for="family_box" id="l_family_box">¿Cuántas personas conforman su hogar?</label><br>
    <input type="number" name="q_family" id="family_box" class="inNumber" min="0" max="20" oninput="validate_number(this)" required>
    <div style="color:red; text-align: left; display: none;"></div>
</div>

<br>

<div id="q5">
    <label for="children_box" id="l_children_box">¿Cuántos hijos tienes?</label><br>
    <input type="number" name="q_children" id="children_box" class="inNumber" min="0" max="20" oninput="validate_number(this)" required>
    <div style="color:red; text-align: left; display: none;"></div>
</div>

<br>

<div id="q6">
    <label for="workers_box" id="l_workers_box">¿Cuántas personas contribuyen a los ingresos del hogar?</label><br>
    <input type="number" name="q_workers" id="workers_box" class="inNumber" min="0" oninput="validate_number(this)" required>
    <div style="color:red; text-align: left; display: none;"></div>
</div>

<br>

<div id="q7">
    <label for="education_list" id="l_education_list">¿Cuál es el nivel educativo más alto que cursó o estás cursando?</label><br>
    <select id="education_list" class="input-list" name="q_educ" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in education_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q8">
    <label for="job_list" id="l_job_list">¿Cuál es tu situación laboral actual?</label><br>
    <select id="job_list" class="input-list" name="q_job" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in job_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q9">
    <label for="income_box" id="l_income_box">¿Cuál es su ingreso mensual promedio?</label><br>
    <input type="text" name="q_income" id="income_box" class="inNumber" oninput="validate_number(this)" style="max-width: 200px !important;" required>
    <div style="color:red; text-align: left; display: none;"></div>
</div>

<br>

<div id="q10">
    <label for="incomeRange_list" id="l_incomeRange_list">Teniendo en cuenta su respuesta anterior, su ingreso mensual promedio se encuentra en un rango de:</label><br>
    <select id="incomeRange_list" class="input-list" name="q_incomeRange" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in incomeRange_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="q11">
    <label for="expenses_list" id="l_expenses_list">En el último mes los gastos del hogar frente a sus ingresos han sido:</label><br>
    <select id="expenses_list" class="input-list" name="q_expenses" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in expenses_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>
</div>

<br>

<!--
{% formfields %}
-->

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

{% endblock %}