{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Risk
{% endblock %}

{% block content %}


<div id="q1">
    <label for="risk" id="l_risk">¿Qué tan dispuesta(o) está o no está usted a tomar riesgos en general?</label><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr>
                <td style="width: 15%;">
                    Nada dispuesta(o)
                </td>
                <td>
                    <input type="radio" id="risk_op0" name="q_risk" value="0" class="items01"><br>0
                </td>
                <td>
                    <input type="radio" id="risk_op1" name="q_risk" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="risk_op2" name="q_risk" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="risk_op3" name="q_risk" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="risk_op4" name="q_risk" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="risk_op5" name="q_risk" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="risk_op6" name="q_risk" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="risk_op7" name="q_risk" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="risk_op8" name="q_risk" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="risk_op9" name="q_risk" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="risk_op10" name="q_risk" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Muy dispuesta(o)
                </td>
            </tr>
        </table>
</div>

<br>

<div id="q2">
    <label for="risk_list" id="l_risk_list">¿Cuándo estás decidiendo sobre tus inversiones que tanto riesgo estás dispuesto a asumir?</label><br>
    <select id="risk_list" class="input-list" name="q_risk_list" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in risk_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>

</div>

<br>

<!--
{% formfields %}
-->

<div style="text-align: center; width: 100%">
{% next_button %}
</div>

{% endblock %}