{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Decisões de Risco
{% endblock %}

{% block content %}


<div id="q1">
    <b>Qual é a sua disposição a correr riscos em suas decisões?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr class="row_option">
                <td style="width: 15%;">
                    Nada disposto(a)
                </td>
                <td>
                    <input type="radio" id="risk_op0" name="q_risk" value="0" class="items01" required><br>0
                </td>
                <td>
                    <input type="radio" id="risk_op1" name="q_risk" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="risk_op2" name="q_risk" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="risk_op3" name="q_risk" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="risk_op4" name="q_risk" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="risk_op5" name="q_risk" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="risk_op6" name="q_risk" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="risk_op7" name="q_risk" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="risk_op8" name="q_risk" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="risk_op9" name="q_risk" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="risk_op10" name="q_risk" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Muito disposto(a)
                </td>
            </tr>
        </table>
</div>

<br>

<div id="q2">
    <label for="risk_list" id="l_risk_list"><b>Ao decidir sobre seus investimentos, quanto risco você está disposto a correr?</b></label><br>
    <select id="risk_list" class="input-list" name="q_riskList" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in risk_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>

</div>

<br>

<!-- <div id="q3">
    <b>Quando você estava tomando suas decisões nas atividades anteriores desse exercício, quão importante foi para você ter retornos máximos?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr class="row_option">
                <td style="width: 15%;">
                    Não foi importante
                </td>
                <td>
                    <input type="radio" id="returns_op0" name="q_returns" value="0" class="items01" required><br>0
                </td>
                <td>
                    <input type="radio" id="returns_op1" name="q_returns" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="returns_op2" name="q_returns" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="returns_op3" name="q_returns" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="returns_op4" name="q_returns" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="returns_op5" name="q_returns" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="returns_op6" name="q_returns" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="returns_op7" name="q_returns" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="returns_op8" name="q_returns" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="returns_op9" name="q_returns" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="returns_op10" name="q_returns" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Foi muito importante
                </td>
            </tr>
        </table>
</div>

<br>

<div id="q4">
    <b>Quando você estava tomando suas decisões nas atividades anteriores desse exercício, quão importante foi para você ter riscos mínimos?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr class="row_option">
                <td style="width: 15%;">
                    Não foi importante
                </td>
                <td>
                    <input type="radio" id="riskImportant_op0" name="q_riskImportant" value="0" class="items01" required><br>0
                </td>
                <td>
                    <input type="radio" id="riskImportant_op1" name="q_riskImportant" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="riskImportant_op2" name="q_riskImportant" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="riskImportant_op3" name="q_riskImportant" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="riskImportant_op4" name="q_riskImportant" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="riskImportant_op5" name="q_riskImportant" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="riskImportant_op6" name="q_riskImportant" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="riskImportant_op7" name="q_riskImportant" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="riskImportant_op8" name="q_riskImportant" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="riskImportant_op9" name="q_riskImportant" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="riskImportant_op10" name="q_riskImportant" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Foi muito importante
                </td>
            </tr>
        </table>
</div>

<br>

<div id="q5">
    <b>Quando você estava tomando suas decisões nas atividades anteriores desse exercício, quão importante foi para você ter perdas mínimas?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr class="row_option">
                <td style="width: 15%;">
                    Não foi importante
                </td>
                <td>
                    <input type="radio" id="loss_op0" name="q_loss" value="0" class="items01" required><br>0
                </td>
                <td>
                    <input type="radio" id="loss_op1" name="q_loss" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="loss_op2" name="q_loss" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="loss_op3" name="q_loss" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="loss_op4" name="q_loss" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="loss_op5" name="q_loss" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="loss_op6" name="q_loss" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="loss_op7" name="q_loss" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="loss_op8" name="q_loss" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="loss_op9" name="q_loss" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="loss_op10" name="q_loss" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Foi muito importante
                </td>
            </tr>
        </table>
</div>

<br>

<div id="q6">
    <label for="insurance_list" id="l_risk_list"><b>Durante os últimos 12 meses, você ou algum membro da sua família comprou ou renovou algum seguro de vida, veículo, terremoto, roubo, desemprego ou outro?</b></label><br>
    <select id="insurance_list" class="input-list" name="q_insurance" required>
        <option class="input-list" value disabled selected>---------</option>
        {% for opcion in insurance_list %}
            <option value="{{ opcion }}" class="input-list">{{ opcion }}</option>
        {% endfor %}
    </select>

</div>

<br> -->

<div id="q7">
    <b>Você geralmente é paciente ou impaciente?</b><br>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr class="row_option">
                <td style="width: 15%;">
                    Muito impaciente
                </td>
                <td>
                    <input type="radio" id="patience_op0" name="q_patience" value="0" class="items01" required><br>0
                </td>
                <td>
                    <input type="radio" id="patience_op1" name="q_patience" value="1" class="items01"><br>1
                </td>
                <td>
                    <input type="radio" id="patience_op2" name="q_patience" value="2" class="items01"><br>2
                </td>
                <td>
                    <input type="radio" id="patience_op3" name="q_patience" value="3" class="items01"><br>3
                </td>
                <td>
                    <input type="radio" id="patience_op4" name="q_patience" value="4" class="items01"><br>4
                </td>
                <td>
                    <input type="radio" id="patience_op5" name="q_patience" value="5" class="items01"><br>5
                </td>
                <td>
                    <input type="radio" id="patience_op6" name="q_patience" value="6" class="items01"><br>6
                </td>
                <td>
                    <input type="radio" id="patience_op7" name="q_patience" value="7" class="items01"><br>7
                </td>
                <td>
                    <input type="radio" id="patience_op8" name="q_patience" value="8" class="items01"><br>8
                </td>
                <td>
                    <input type="radio" id="patience_op9" name="q_patience" value="9" class="items01"><br>9
                </td>
                <td>
                    <input type="radio" id="patience_op10" name="q_patience" value="10" class="items01"><br>10
                </td>
                <td style="width: 15%;">
                    Muito paciente
                </td>
            </tr>
        </table>
</div>

<br>

<!--
{% formfields %}
-->

<div style="text-align: center; width: 100%">
{% next_button %}
</div>

{% endblock %}