{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var cnt_cards = 0;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }};
        var start;
        var cnt_selected = 0;

{% if graphType == 1 %}

        // Gráfica para inversión A e inversión B
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }, {
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

{% else %}

        // Gráfica inversión A
        var graph_a = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

        // Gráfica inversión B
        var graph_b = Highcharts.chart('graph02', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

{% endif %}

        function add_point_graph(n_data) {
            var cell_a = document.getElementById("a_"+(n_data+1));
            var cell_b = document.getElementById("b_"+(n_data+1));
            cell_a.innerHTML = data_a[n_data];
            cell_b.innerHTML = data_b[n_data];

            {% if graphType == 1 %}
            graph.series[0].addPoint({
            x: n_data,
            y: data_a[n_data]
            });
            graph.series[1].addPoint({
            x: n_data,
            y: data_b[n_data]
            });
            {% else %}
            graph_a.series[0].addPoint({
            x: n_data,
            y: data_a[n_data]
            });
            graph_b.series[0].addPoint({
            x: n_data,
            y: data_b[n_data]
            });
            {% endif %}
        }

        function nextView() {
            document.getElementById("problem_03_arraySelected").value += "}";
            document.getElementById("problem_03_time").value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function nextCard() {
            if(cnt_cards < 8) {
                add_point_graph(cnt_cards);
            } else {
                start = Date.now();
                document.getElementById("h-slider-div").style.display = "block";
                clearInterval(intervalID);
            }
            cnt_cards += 1;
        }

        function confirm() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.remove("hidden");
            overlay.classList.remove("hidden");
        }

        function closeModal() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.add("hidden");
            overlay.classList.add("hidden");
        }

        $('.slider_dinero').change(
            function (event) {
                let val_slider = document.getElementById(event.target.id).value;
                cnt_selected += 1;
                let time = Date.now() - start;
                let add = cnt_selected.toString() + ": {\'value_selected\': " + val_slider + ", \'time\': " + time + "}, ";
                document.getElementById("problem_03_arraySelected").value += add;

            });

        var intervalID = setInterval(nextCard, 2000);

    </script>
{% endblock %}

{% block title %}
    Actividad 2: Decisión de Inversión 3
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                Haga clic en sobre la barra mueva el cuadro para alcanzar el valor deseado para la <i>Inversión A</i> e <i>Inversión B</i>. <br>
                Cuando logre las asignaciones deseadas haga clic en “Enviar” para confirmar su decisión y continuar.
            </div>
        </td>
    </tr>
</table>

<br>  
{% if graphType == 1 %}
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph" id="a_1"></td>
                <td class="cell_graph" id="a_2"></td>
                <td class="cell_graph" id="a_3"></td>
                <td class="cell_graph" id="a_4"></td>
                <td class="cell_graph" id="a_5"></td>
                <td class="cell_graph" id="a_6"></td>
                <td class="cell_graph" id="a_7"></td>
                <td class="cell_graph" id="a_8"></td>
            </tr>
            <tr>
                <td class="cell_graphInv">Inversión B</td>
                <td class="cell_graph" id="b_1"></td>
                <td class="cell_graph" id="b_2"></td>
                <td class="cell_graph" id="b_3"></td>
                <td class="cell_graph" id="b_4"></td>
                <td class="cell_graph" id="b_5"></td>
                <td class="cell_graph" id="b_6"></td>
                <td class="cell_graph" id="b_7"></td>
                <td class="cell_graph" id="b_8"></td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<div>
    <table class="tabDiv_GraphType2">
        <tr>
            <td style="width: 50%;">
                <div id="graph01" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión A</td>
                            <td class="cell_graph" id="a_1"></td>
                            <td class="cell_graph" id="a_2"></td>
                            <td class="cell_graph" id="a_3"></td>
                            <td class="cell_graph" id="a_4"></td>
                            <td class="cell_graph" id="a_5"></td>
                            <td class="cell_graph" id="a_6"></td>
                            <td class="cell_graph" id="a_7"></td>
                            <td class="cell_graph" id="a_8"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="graph02" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión B</td>
                            <td class="cell_graph" id="b_1"></td>
                            <td class="cell_graph" id="b_2"></td>
                            <td class="cell_graph" id="b_3"></td>
                            <td class="cell_graph" id="b_4"></td>
                            <td class="cell_graph" id="b_5"></td>
                            <td class="cell_graph" id="b_6"></td>
                            <td class="cell_graph" id="b_7"></td>
                            <td class="cell_graph" id="b_8"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}
<br>
<div class="card_table" id="h-slider-div" style="text-align: center;">
    <table class="table_question">
        <tr>
            <td colspan="4">
                <h4 style="margin-top: 0.5rem; margin-bottom: 0rem;">Decisión</h4>
            </td>
        </tr>
        <tr>
            <td class="text_slider"> - </td>
            <td class="td_slider" rowspan="2">
                <input type="range" name="problem_03_inv_a_slider" value="" min="0" max="{{ max_inv }}" step="1000" id="sliderDinero" class="slider_dinero" required>
                <input type="hidden" name="check_slider_example" value="" id="id_check_slider_example"/>
            </td>
            <td class="text_slider"> - </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <b>Inversión A</b>
            </td>
            <td style="text-align: center;">
                <b>Inversión B</b>
            </td>
        </tr>
    </table>
</div>

<input type="hidden" name="problem_03_arraySelected" value="{ " id="problem_03_arraySelected">
<input type="hidden" name="problem_03_time" value="" id="problem_03_time">

<br>

<div class="div_btnNext">
    <input type="button" value="Enviar" class="btnNext" style="display: none;" onclick="confirm()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Enviar</button>
</div>

<section class="modal hidden">
    <div>
        <h3>Confirmación</h3>
        <p>
            Por favor confirme los valores asignados: <br>
              <i>Inversión A:</i> <span id="inv_a"></span><br> 
              <i>Inversión B:</i> <span id="inv_b"></span>.
        </p>
        <p>
            Si es correcto presione el botón "Enviar" de lo contrario presione el botón "Cambiar valores".
        </p>
    </div>
    <table style="width: 100%;" class="table_modal">
        <tr>
            <td>
                <input type="button" value="Cambiar valores" class="btnNext" onclick="closeModal()">
            </td>
            <td>
                <input type="button" value="Enviar" class="btnNext" onclick="nextCard()">
            </td>
        </tr>
    </table>
</section>

<div class="overlay hidden"></div>

{% endblock %}
