{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'js/highcharts.js' %}"></script>
    
    <script>
        // Construcción de la gráfica
        
        Highcharts.chart('graph01', {
            title: {
                text: 'Inversión en el tiempo'
            },
            yAxis: {
                title: {
                    text: 'Proporción de inversión'
                }
            },
            series: [{
                data: {{ data }},
                lineWidth: 0.5
            }]
        });
    </script>
{% endblock %}

{% block title %}
    Gráfica sencilla
{% endblock %}

{% block content %}

<div id="graph01" width="400px" height="400px"></div>

    {% next_button %}

{% endblock %}
