{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var cnt_cards = 0;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }};
        var start;
        var cnt_selected = 0;
        var intervalID;
        var interval_a = 0;
        var interval_b = 0;

        window.onload  = function() {
            start = Date.now();
            {% if graphType == 1 %}
            for(var i=0; i<8; i++) {
                add_point_graph(i);
            }
            {% else %}
            for(var i=0; i<8; i++) {
                //add_point_a(i);
                //add_point_b(i);
            }
            {% endif %}
        }

        // Gráfica para inversión A e inversión B
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash',
            }, {
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash',
            }],
            legend: {
                enabled: true
            }
        });

        function add_point_graph(n_data) {
            let y_pos_a;
            let y_pos_b;
            if(((data_a[n_data] > 0) && (data_b[n_data] > 0)) || ((data_a[n_data] < 0) && (data_b[n_data] < 0))){
                if(data_a[n_data] > data_b[n_data]){
                    y_pos_a = -5;
                    y_pos_b = 25;
                } else {
                    y_pos_a = 25;
                    y_pos_b = -5;
                }
            } else {
                if(data_a[n_data] > 0) {
                    y_pos_a = -5;
                } else {
                    y_pos_a = 25;
                }
                if(data_b[n_data] > 0) {
                    y_pos_b = -5;
                } else {
                    y_pos_b = 25;
                }
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos_b,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_a(n_data) {
            let y_pos;
            if(data_a[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_b(n_data) {
            let y_pos;
            if(data_b[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextView() {
            document.getElementById("problem_03_invMistakes").value += "}";
            document.getElementById("problem_03_invTime").value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function nextCard() {
            if(cnt_cards < 8) {
                add_point_graph(cnt_cards);
            } else {
                clearInterval(intervalID);
                document.getElementById("h-slider-div").style.display = "block";
                document.getElementById("div_tabGraph").style.display = "block";
            }
            cnt_cards += 1;
        }

        function nextCard_a() {
            if(cnt_cards < 8) {
                add_point_a(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function nextCard_b() {
            if(cnt_cards < 8) {
                add_point_b(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function visibleA() {
            document.getElementById("btn_a").style.backgroundColor = "#989898";
            document.getElementById("btn_a").disabled = true;
            document.getElementById("btn_b").style.backgroundColor = "#007bff";
            document.getElementById("btn_b").disabled = false;
            if(interval_a == 0) {
                nextCard_a();
                intervalID = setInterval(nextCard_a, 0);
                interval_a = 1;
                if(interval_b == 1) {
                    graph.series[1].setVisible(false);
                }
            } else {
                graph.series[0].setVisible(true);
                graph.series[1].setVisible(false);
            }
        }

        function visibleB() {
            document.getElementById("btn_b").style.backgroundColor = "#989898";
            document.getElementById("btn_b").disabled = true;
            document.getElementById("btn_a").style.backgroundColor = "#007bff";
            document.getElementById("btn_a").disabled = false;
            if(interval_b == 0) {
                nextCard_b();
                intervalID = setInterval(nextCard_b, 0);
                interval_b = 1;
                if(interval_a == 1) {
                    graph.series[0].setVisible(false);
                }
            } else {
                graph.series[0].setVisible(false);
                graph.series[1].setVisible(true);
            }
        }

        function confirm() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.remove("hidden");
            overlay.classList.remove("hidden");
            document.getElementById("inv_a").innerHTML = "<toMoney>" + document.getElementById("problem_03_invVal_a").value + "</toMoney>";
            document.getElementById("inv_b").innerHTML = "<toMoney>" + document.getElementById("problem_03_invVal_b").value + "</toMoney>";
            conv_money();
        }

        function closeModal() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.add("hidden");
            overlay.classList.add("hidden");
        }

        function validateInv() {
            let inv_a = Number(document.getElementById("problem_03_invVal_a").value);
            let inv_b = Number(document.getElementById("problem_03_invVal_b").value);
            console.log(inv_a + inv_b);
            if((inv_a + inv_b) == 100000) {
                nextView();
            } else {
                cnt_selected += 1;
                let time = Date.now() - start;
                let add = cnt_selected.toString() + ": {\'inversion_a\': " + inv_a.toString() + ", \'inversion_b\': " + inv_b.toString() + ", \'time\': " + time + "}, ";
                document.getElementById("problem_03_invMistakes").value += add;
                closeModal();
                document.getElementById("div_error").style.display = "block";
                document.getElementById("problem_03_invVal_a").style.boxShadow = "0px 0px 3px 1px rgba(255, 0, 0, 0.65)";
                document.getElementById("problem_03_invVal_b").style.boxShadow = "0px 0px 3px 1px rgba(255, 0, 0, 0.65)";
            }
        }

        function conv_money() {
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "- $" + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$" + num.toLocaleString('es-CO').toString();
                }
            }
        }

    </script>
{% endblock %}

{% block title %}
    Problema 3
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                Instrucciones gráficas parte 3: decisión.
            </div>
        </td>
    </tr>
</table>

<br>  

<div>
    <table style="text-align: center; width: 90%; margin: 0 auto;">
        <tr>
            {% if graphType == 1 %}
            <td><input type="button" value="Mostrar Inversión A y B" onclick="visibleAB()" disabled></td>
            {% else %}
            <td><input type="button" value="Mostrar Inversión A" onclick="visibleA()" id="btn_a"></td>
            <td><input type="button" value="Mostrar Inversión B" onclick="visibleB()" id="btn_b"></td>
            {% endif %}
        </tr>
    </table>
    <div id="graph01" class="div_graph"></div>
    <div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 50%; text-align: center;">Inversión A: <input type="number" name="problem_03_invVal_a" id="problem_03_invVal_a" class="inNumber_a" oninput="restore_error('problem_03_invVal_a')"></td>
                <td style="width: 50%; text-align: center;">Inversión B: <input type="number" name="problem_03_invVal_b" id="problem_03_invVal_b" class="inNumber_a" oninput="restore_error('problem_03_invVal_b')"></td>
            </tr>
        </table>
    </div>
</div>

<div class="error_msg" id="div_error">
    La suma de las inversiones no es $100.000.
</div>

<br>

<input type="hidden" name="problem_03_invMistakes" value="{ " id="problem_03_invMistakes">
<input type="hidden" name="problem_03_invTime" value="" id="problem_03_invTime">

<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="confirm()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

<section class="modal hidden">
    <div>
        <h3>Confirmación</h3>
        <p>
            Por favor confirme los valores asignados: <br>
              <i>Inversión A:</i> <span id="inv_a"><toMoney></toMoney></span><br> 
              <i>Inversión B:</i> <span id="inv_b"><toMoney></toMoney></span>
        </p>
        <p>
            Si es correcto presione el botón "Enviar" de lo contrario presione el botón "Cambiar valores".
        </p>
    </div>
    <table style="width: 100%;" class="table_modal">
        <tr>
            <td>
                <input type="button" value="Cambiar valores" class="btnNext" onclick="closeModal()">
            </td>
            <td>
                <input type="button" value="Enviar" class="btnNext" onclick="validateInv()">
            </td>
        </tr>
    </table>
</section>

<div class="overlay hidden"></div>

{% endblock %}
