{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var cnt_cards = 0;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }};
        var start;
        var cnt_selected = 0;
        var intervalID;
        var interval_a = 0;
        var interval_b = 0;

        window.onload  = function() {
            start = Date.now();
        }

        // Gráfica para inversión A e inversión B
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash',
            }, {
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash',
            }],
            legend: {
                enabled: true
            }
        });

        function add_point_graph(n_data) {
            let y_pos_a;
            let y_pos_b;
            if(((data_a[n_data] > 0) && (data_b[n_data] > 0)) || ((data_a[n_data] < 0) && (data_b[n_data] < 0))){
                if(data_a[n_data] > data_b[n_data]){
                    y_pos_a = -5;
                    y_pos_b = 25;
                } else {
                    y_pos_a = 25;
                    y_pos_b = -5;
                }
            } else {
                if(data_a[n_data] > 0) {
                    y_pos_a = -5;
                } else {
                    y_pos_a = 25;
                }
                if(data_b[n_data] > 0) {
                    y_pos_b = -5;
                } else {
                    y_pos_b = 25;
                }
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos_b,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_a(n_data) {
            let y_pos;
            if(data_a[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_b(n_data) {
            let y_pos;
            if(data_b[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextView() {
            document.getElementById("problem_03_sliderSelected").value += "}";
            document.getElementById("problem_03_sliderTime").value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function nextCard() {
            if(cnt_cards < 8) {
                add_point_graph(cnt_cards);
            } else {
                clearInterval(intervalID);
                document.getElementById("h-slider-div").style.display = "block";
                document.getElementById("div_tabGraph").style.display = "block";
            }
            cnt_cards += 1;
        }

        function nextCard_a() {
            if(cnt_cards < 8) {
                add_point_a(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function nextCard_b() {
            if(cnt_cards < 8) {
                add_point_b(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function visibleA() {
            document.getElementById("btn_a").style.backgroundColor = "#989898";
            document.getElementById("btn_a").disabled = true;
            document.getElementById("btn_b").style.backgroundColor = "#007bff";
            document.getElementById("btn_b").disabled = false;
            let fa = document.getElementById("fila_a");
            let fb = document.getElementById("fila_b");
            fa.style.visibility = "visible";
            fb.style.visibility = "hidden";
            for(var i=0; i<fb.childElementCount; i++) {
                fb.children[i].style.border = "#ffffff 1px solid";
            }
            for(var i=0; i<fa.childElementCount; i++) {
                fa.children[i].style.border = "#000000 1px solid";
                fb.children[i].style.borderTop = "#000000 1px solid";
            }
            nextCard_a();
            intervalID = setInterval(nextCard_a, 0);
            graph.series[1].setData([]);
        }

        function visibleB() {
            document.getElementById("btn_b").style.backgroundColor = "#989898";
            document.getElementById("btn_b").disabled = true;
            document.getElementById("btn_a").style.backgroundColor = "#007bff";
            document.getElementById("btn_a").disabled = false;
            let fa = document.getElementById("fila_a");
            let fb = document.getElementById("fila_b");
            fa.style.visibility = "hidden";
            fb.style.visibility = "visible";
            for(var i=0; i<fa.childElementCount; i++) {
                fa.children[i].style.border = "#ffffff 1px solid";
            }
            for(var i=0; i<fb.childElementCount; i++) {
                fb.children[i].style.border = "#000000 1px solid";
                fa.children[i].style.borderBottom = "#000000 1px solid";
            }
            nextCard_b();
            intervalID = setInterval(nextCard_b, 0);
            graph.series[0].setData([]);
        }

        function visibleAB() {
            let fa = document.getElementById("fila_a");
            let fb = document.getElementById("fila_b");
            fa.style.visibility = "visible";
            fb.style.visibility = "visible";
            for(var i=0; i<fa.childElementCount; i++) {
                fa.children[i].style.border = "#000000 1px solid";
            }
            for(var i=0; i<fb.childElementCount; i++) {
                fb.children[i].style.border = "#000000 1px solid";
            }
            if(interval_a == 0) {
                nextCard();
                intervalID = setInterval(nextCard, 0);
            }
        }

        function confirm() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.remove("hidden");
            overlay.classList.remove("hidden");
        }

        function closeModal() {
            let modal = document.querySelector(".modal");
            let overlay = document.querySelector(".overlay");
            modal.classList.add("hidden");
            overlay.classList.add("hidden");
        }

        $('.slider_dinero').change(
            function (event) {
                let val_slider = document.getElementById(event.target.id).value;
                cnt_selected += 1;
                let time = Date.now() - start;
                let add = cnt_selected.toString() + ": {\'value_selected\': " + val_slider + ", \'time\': " + time + "}, ";
                document.getElementById("problem_03_sliderSelected").value += add;
                
                for(var i=0; i<8; i++) {
                    let cell_a = document.getElementById("a_"+(i+1));
                    let cell_b = document.getElementById("b_"+(i+1));
                    let cell_t = document.getElementById("t_"+(i+1));
                    let mon_a = (val_slider * data_a[i]) / 100;
                    let mon_b = ((100000 - val_slider) * data_b[i]) / 100;
                    let mon_t = mon_a + mon_b;
                    if(mon_a < 0) {
                        mon_a = "- $" + (mon_a * -1).toLocaleString('es-CO');
                    } else if(mon_a > 0) {
                        mon_a = "$ " + mon_a.toLocaleString('es-CO');
                    } else {
                        mon_a = "$ 0";
                    }
                    if(mon_b < 0) {
                        mon_b = "- $" + (mon_b * -1).toLocaleString('es-CO');
                    } else if(mon_b > 0) {
                        mon_b = "$ " + mon_b.toLocaleString('es-CO');
                    } else {
                        mon_b = "$ 0";
                    }
                    if(mon_t < 0) {
                        mon_t = "- $" + (mon_t * -1).toLocaleString('es-CO');
                    } else if(mon_t > 0) {
                        mon_t = "$ " + mon_t.toLocaleString('es-CO');
                    } else {
                        mon_t = "$ 0";
                    }
                    cell_a.innerHTML = mon_a;
                    cell_b.innerHTML = mon_b;
                    cell_t.innerHTML = mon_t;
                }
            });

    </script>
{% endblock %}

{% block title %}
    Actividad 2: Decisión de Inversión 3
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                Haga <i>clic</i> sobre la barra y mueva el cuadro que aparece para ver cómo la cantidad de dinero asignada a la <i>Inversión A</i> y la <i>Inversión B</i> afecta la tabla de las posibles rentabilidades. 
        </td>
    </tr>
</table>

<br>  

<div>
    <table style="text-align: center; width: 90%; margin: 0 auto;">
        <tr>
            {% if graphType == 1 %}
            <td><input type="button" value="Mostrar Inversión A y B" onclick="visibleAB()"></td>
            {% else %}
            <td><input type="button" value="Mostrar Inversión A" onclick="visibleA()" id="btn_a"></td>
            <td><input type="button" value="Mostrar Inversión B" onclick="visibleB()" id="btn_b"></td>
            {% endif %}
        </tr>
    </table>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph" id="div_tabGraph">
        <table class="tabGraph">
            <tr id="fila_a" style="visibility: hidden; border: #ffffff 1px solid;">
                <td class="cell_graphInv" style="border: #ffffff 1px solid;">Retorno A</td>
                <td class="cell_graph" id="a_1" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_2" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_3" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_4" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_5" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_6" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_7" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="a_8" style="border: #ffffff 1px solid;">$ -</td>
            </tr>
            <tr id="fila_b" style="visibility: hidden;">
                <td class="cell_graphInv" style="border: #ffffff 1px solid;">Retorno B</td>
                <td class="cell_graph" id="b_1" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_2" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_3" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_4" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_5" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_6" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_7" style="border: #ffffff 1px solid;">$ -</td>
                <td class="cell_graph" id="b_8" style="border: #ffffff 1px solid;">$ -</td>
            </tr>
        </table>
        <table class="tabGraph" style="margin-top: 15px;">
            <tr>
                <td class="cell_graphInv" style="font-weight: bold;">Total</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_1">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_2">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_3">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_4">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_5">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_6">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_7">$ -</td>
                <td class="cell_graph" style="font-weight: bold;" id="t_8">$ -</td>
            </tr>
        </table>
    </div>
</div>

<br>
<div class="card_table" id="h-slider-div" style="text-align: center;">
    <table class="table_question">
        <tr>
            <td class="text_slider"> - </td>
            <td class="td_slider" rowspan="2">
                <input type="range" name="problem_03_sliderInv_a" value="" min="0" max="{{ max_inv }}" step="1000" id="sliderDinero" class="slider_dinero" required>
                <input type="hidden" name="check_slider_example" value="" id="id_check_slider_example"/>
            </td>
            <td class="text_slider"> - </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <b>Inversión A</b>
            </td>
            <td style="text-align: center;">
                <b>Inversión B</b>
            </td>
        </tr>
    </table>
</div>

<input type="hidden" name="problem_03_sliderSelected" value="{ " id="problem_03_sliderSelected">
<input type="hidden" name="problem_03_sliderTime" value="" id="problem_03_sliderTime">

<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" style="display: none;" onclick="nextView()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

<section class="modal hidden">
    <div>
        <h3>Confirmación</h3>
        <p>
            Por favor confirme los valores asignados: <br>
              <i>Inversión A:</i> <span id="inv_a"></span><br> 
              <i>Inversión B:</i> <span id="inv_b"></span>.
        </p>
        <p>
            Si es correcto presione el botón "Enviar" de lo contrario presione el botón "Cambiar valores".
        </p>
    </div>
    <table style="width: 100%;" class="table_modal">
        <tr>
            <td>
                <input type="button" value="Cambiar valores" class="btnNext" onclick="closeModal()">
            </td>
            <td>
                <input type="button" value="Enviar" class="btnNext" onclick="nextView()">
            </td>
        </tr>
    </table>
</section>

<div class="overlay hidden"></div>

{% endblock %}
