{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Actividad 2: Decisiones de Inversión
{% endblock %}

{% block content %}

<p>Ahora que sabe cómo se hacen las inversiones y cómo se calcula la rentabilidad. Vamos a comenzar con las decisiones de inversión.</p>
<p> Recuerde:</p>
<ul>
  <li>Debe tomar cuatro decisiones de inversión y para cada decisión de inversión usted recibe una dotación inicial de 100.000 pesos. </li>
  <li>Los porcentajes de rentabilidad de las Inversiones A y B pueden ser distintos en la gráfica para cada decisión.</li>
  <li>Puede invertir toda su dotación en A o en B, pero también puede repartirla.</li>
<li>La rentabilidad de la inversión en cada ESCENARIO será la cantidad de dinero asignada a la <i>Inversión A</i> y a la <i>Inversión B</i> multiplicado por los porcentajes de rentabilidad correspondientes. </li>
</ul>

<p><b>¿Qué pasa si el computador selecciona esta actividad para calcular su pago total?</b></p>

<p>El computador seleccionará al azar una de las tres decisiones de inversión. Luego, seleccionará al azar uno de los ocho escenarios para determinar las ganancias o las pérdidas. Recuerde que usted recibirá un PAGO INICIAL de 20.000 pesos a los que se le sumarán sus <i>ganancias</i> y se restarán sus <i>perdidas</i> en la decisión de inversión seleccionada. </p>

<p>Haga clic en "Siguiente" para comenzar con el <i>Problema 1</i>.</p>

<br>

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
