{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Atividade 2: Decisões de Investimento
{% endblock %}

{% block content %}

<p>Agora que você já sabe como são feitos os investimentos e como é calculada a rentabilidade. Vamos começar com as decisões de investimento.</p>
<p>Lembre-se:</p>
<ul>
   <li>Você deve tomar quatro decisões de investimento e para cada decisão você deve investir <toMoney>100</toMoney> reais. </li>
   <li>Você pode investir todo o seu patrimônio em A ou B, mas também pode distribuí-lo.</li>
    <li>A rentabilidade do investimento em cada CENÁRIO será o valor alocado ao <i>Investimento A</i> e ao <i>Investimento B</i> multiplicado pelos percentuais de rentabilidade. </li>
</ul>

<p><b>O que acontece se o computador selecionar esta atividade para calcular seu pagamento total?</b></p>

<p>O computador selecionará aleatoriamente uma das quatro decisões de investimento.
     Em seguida, selecionará aleatoriamente um dos oito cenários para determinar lucros ou perdas.
     Lembre-se que você receberá um PAGAMENTO INICIAL de <toMoney>20</toMoney> reais aos quais seus <i>lucros</i> serão adicionados e suas <i>perdas</i> serão subtraídas. </p>

<p>Clique em "Avançar" para iniciar a <i>Decisão 1</i>.</p>
<br>

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
