{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var cnt_cards = 0;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }};
        var intervalID;
        var interval_a = 0;
        var interval_b = 0;
        var cnt_ans = 0;

    // Gráfica para inversión A e inversión B
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: [],
                lineWidth: 0,
                enableMouseTracking: false,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }, {
                animation: false,
                data: [],
                lineWidth: 0,
                enableMouseTracking: false,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function nextCard() {
            let btn = document.getElementById("id_next");
            btn.click();
        }

        $(document).ready(function () {
            $('.slider_porcentaje').change(
                function (event) {
                    var slider_id = event.target.id;
                    var slider_value = event.target.value;
                    var parent_slider = document.getElementById(slider_id).parentElement.parentElement.parentElement;
                    var child = parent_slider.children[0].children[0].firstElementChild;
                    child.innerHTML = slider_value + "%";
                    var check_sli = parent_slider.children[1].lastElementChild.lastElementChild;
                    check_sli.value = 1;
                }
            );
        });

        window.onload = function(){
            // Agregar el enter para los inputs de números
            let in_elements = document.getElementsByClassName("inNumber");
            if(in_elements.length > 0) {
                for(let i=0; i<in_elements.length; i++) {
                    in_elements[i].addEventListener("keypress", function(event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                        }
                    }
                )}
            }
        };

        function add_point_graph(n_data) {
            let y_pos_a;
            let y_pos_b;
            if(((data_a[n_data] > 0) && (data_b[n_data] > 0)) || ((data_a[n_data] < 0) && (data_b[n_data] < 0))){
                if(data_a[n_data] > data_b[n_data]){
                    y_pos_a = -5;
                    y_pos_b = 25;
                } else {
                    y_pos_a = 25;
                    y_pos_b = -5;
                }
            } else {
                if(data_a[n_data] > 0) {
                    y_pos_a = -5;
                } else {
                    y_pos_a = 25;
                }
                if(data_b[n_data] > 0) {
                    y_pos_b = -5;
                } else {
                    y_pos_b = 25;
                }
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos_b,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_a(n_data) {
            let y_pos;
            if(data_a[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_b(n_data) {
            let y_pos;
            if(data_b[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextCard() {
            if(cnt_cards < 8) {
                add_point_graph(cnt_cards);
            } else {
                clearInterval(intervalID);
            }
            cnt_cards += 1;
        }

        function nextCard_a() {
            if(cnt_cards < 8) {
                add_point_a(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function nextCard_b() {
            if(cnt_cards < 8) {
                add_point_b(cnt_cards);
            } else {
                clearInterval(intervalID);
                cnt_cards = -1;
            }
            cnt_cards += 1;
        }

        function visibleA() {
            document.getElementById("btn_a").style.backgroundColor = "#989898";
            document.getElementById("btn_a").disabled = true;
            document.getElementById("btn_b").style.backgroundColor = "#007bff";
            document.getElementById("btn_b").disabled = false;
            nextCard_a();
            intervalID = setInterval(nextCard_a, 0);
            graph.series[1].setData([]);
        }

        function visibleB() {
            document.getElementById("btn_b").style.backgroundColor = "#989898";
            document.getElementById("btn_b").disabled = true;
            document.getElementById("btn_a").style.backgroundColor = "#007bff";
            document.getElementById("btn_a").disabled = false;
            nextCard_b();
            intervalID = setInterval(nextCard_b, 0);
            graph.series[0].setData([]);
        }

        function visibleAB() {
            if(interval_a == 0) {
                nextCard();
                intervalID = setInterval(nextCard, 0);
            }
            document.getElementById("btn_ab").style.backgroundColor = "#989898";
            document.getElementById("btn_ab").disabled = true;
        }

        function validate_checker() {
            if (Number(document.getElementById('check_box_01').value) + Number(document.getElementById('check_radio_01').value) + Number(document.getElementById('check_slider_01').value) + Number(document.getElementById('check_radio_02').value) + Number(document.getElementById('check_radio_03').value) == 5) {
                document.getElementById('id_next').style.display = 'block';
                document.getElementById('id_next').style.margin = '0 auto';
            }
        }

        function checker_slider_1() {
            document.getElementById('check_slider_01').value = 1;
            validate_checker();
        }

        function checker_box_1() {
            document.getElementById('div_error_q1').style.display = 'none';
            let val_q1 = Number(document.getElementById('question_1').value);
            if ((val_q1 < 0) || (val_q1 > 100)) {
                document.getElementById('div_error_q1').style.display = 'block';
                document.getElementById('div_error_q1').style.margin = '0 auto';
            }
            document.getElementById('check_box_01').value = 1;
            validate_checker();
        }

        function checker_radio_1() {
            document.getElementById('check_radio_01').value = 1;
            validate_checker();
        }

        function checker_radio_2() {
            document.getElementById('check_radio_02').value = 1;
            validate_checker();
        }

        function checker_radio_3() {
            document.getElementById('check_radio_03').value = 1;
            validate_checker();
        }

    </script>
{% endblock %}

{% block title %}
    Actividad 2: Preguntas Decisión de Inversión # {{ n_problem }}
{% endblock %}

{% block content %}
<p>
    A continuación, le hacemos algunas preguntas sobre las dos opciones de inversión. Por favor, léalas y responda atentamente. 
</p>

<div>
    <table style="text-align: center; width: 90%; margin: 0 auto;">
        <tr>
            {% if graphType == 1 %}
            <td><input type="button" value="Mostrar Inversión A y B" onclick="visibleAB()" id="btn_ab"></td>
            {% else %}
            <td><input type="button" value="Mostrar Inversión A" onclick="visibleA()" id="btn_a"></td>
            <td><input type="button" value="Mostrar Inversión B" onclick="visibleB()" id="btn_b"></td>
            {% endif %}
        </tr>
    </table>
    <div id="graph01" class="div_graph"></div>
</div>

<br>

<ol>
    <li style="margin-top: 10px;">Si el rendimiento de la <i>Inversión A</i> disminuye, espera que la <i>Inversión B</i> aumente en <input type="number" class="inNumber" name="problem_04_return_b" id="question_1" min="0" max="100" required style="display: inline; margin-left: 5px; margin-right: 5px;" oninput="checker_box_1()"> de 100 casos.</li>
            <div class="error_msg" id="div_error_q1">
                Por favor ingrese un valor entre 0 y 100
            </div>

    <li style="margin-top: 10px;">Si el rendimiento de la <i>Inversión A</i> es alto, es más probable que el rendimiento de la <i>Inversión B</i>:</li>
        <div class="card_table" id="h-slider-div" style="text-align: left; margin-top: 10px;">
            <input type="radio" id="q2_o1" name="problem_04_expect_return_b" value="1" class="items01" oninput="checker_radio_1()">
            <label for="q2_o1" id="l_q2_o1" class="items01"> Sea alto</label>
            <br>
            <input type="radio" id="q2_o2" name="problem_04_expect_return_b" value="2" class="items01" oninput="checker_radio_1()">
            <label for="q2_o2" id="l_q2_o2" class="items01">Sea bajo</label>
            <br>
            <input type="radio" id="q2_o3" name="problem_04_expect_return_b" value="3" class="items01" oninput="checker_radio_1()">
            <label for="q2_o3" id="l_q2_o3" class="items01">Sea igual</label>
        </div>
        
        <li style="margin-top: 10px;">Suponga que se selecciona un ESCENARIO al azar, ¿Cuál es la probabilidad de que los rendimientos de la <i>Inversión B</i> sean bajos?</li>
        <div class="card_table" id="h-slider-div" style="text-align: center; margin-top: 10px;">
            <table class="table_question" style="margin: 0 auto; width: 70% !important;">
                <tr>
                    <td>
                        <span>- %</span>
                    </td>
                </tr>
                <tr>
                    <td class="td_slider">
                        <input type="range" name="problem_04_probability_b" value="" min="0" max="100" step="1" id="slider_porcentaje_02" class="slider_porcentaje" required oninput="checker_slider_1()">
                    </td>
                </tr>
            </table>
        </div>
        
        <li style="margin-top: 10px;">¿Qué tan riesgosa considera usted que es su asignación?</li>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr>
                <td style="width: 15%;">
                    Libre de riesgos
                </td>
                <td>
                    <input type="radio" id="risk_op0" name="problem_04_risk" value="0" class="items01" oninput="checker_radio_2()"><br>0
                </td>
                <td>
                    <input type="radio" id="risk_op1" name="problem_04_risk" value="1" class="items01" oninput="checker_radio_2()"><br>1
                </td>
                <td>
                    <input type="radio" id="risk_op2" name="problem_04_risk" value="2" class="items01" oninput="checker_radio_2()"><br>2
                </td>
                <td>
                    <input type="radio" id="risk_op3" name="problem_04_risk" value="3" class="items01" oninput="checker_radio_2()"><br>3
                </td>
                <td>
                    <input type="radio" id="risk_op4" name="problem_04_risk" value="4" class="items01" oninput="checker_radio_2()"><br>4
                </td>
                <td>
                    <input type="radio" id="risk_op5" name="problem_04_risk" value="5" class="items01" oninput="checker_radio_2()"><br>5
                </td>
                <td>
                    <input type="radio" id="risk_op6" name="problem_04_risk" value="6" class="items01" oninput="checker_radio_2()"><br>6
                </td>
                <td>
                    <input type="radio" id="risk_op7" name="problem_04_risk" value="7" class="items01" oninput="checker_radio_2()"><br>7
                </td>
                <td>
                    <input type="radio" id="risk_op8" name="problem_04_risk" value="8" class="items01" oninput="checker_radio_2()"><br>8
                </td>
                <td>
                    <input type="radio" id="risk_op9" name="problem_04_risk" value="9" class="items01" oninput="checker_radio_2()"><br>9
                </td>
                <td>
                    <input type="radio" id="risk_op10" name="problem_04_risk" value="10" class="items01" oninput="checker_radio_2()"><br>10
                </td>
                <td style="width: 15%;">
                    Muy riesgosa
                </td>
            </tr>
        </table>
        
        <li style="margin-top: 10px;">¿Qué tan seguro está de su decisión de inversión?</li>
        <table style="width: 100%; text-align: center; margin-top: 5px;">
            <tr>
                <td style="width: 15%;">
                    Nada seguro
                </td>
                <td>
                    <input type="radio" id="insurance_op0" name="problem_04_insurance" value="0" class="items01" oninput="checker_radio_3()"><br>0
                </td>
                <td>
                    <input type="radio" id="insurance_op1" name="problem_04_insurance" value="1" class="items01" oninput="checker_radio_3()"><br>1
                </td>
                <td>
                    <input type="radio" id="insurance_op2" name="problem_04_insurance" value="2" class="items01" oninput="checker_radio_3()"><br>2
                </td>
                <td>
                    <input type="radio" id="insurance_op3" name="problem_04_insurance" value="3" class="items01" oninput="checker_radio_3()"><br>3
                </td>
                <td>
                    <input type="radio" id="insurance_op4" name="problem_04_insurance" value="4" class="items01" oninput="checker_radio_3()"><br>4
                </td>
                <td>
                    <input type="radio" id="insurance_op5" name="problem_04_insurance" value="5" class="items01" oninput="checker_radio_3()"><br>5
                </td>
                <td>
                    <input type="radio" id="insurance_op6" name="problem_04_insurance" value="6" class="items01" oninput="checker_radio_3()"><br>6
                </td>
                <td>
                    <input type="radio" id="insurance_op7" name="problem_04_insurance" value="7" class="items01" oninput="checker_radio_3()"><br>7
                </td>
                <td>
                    <input type="radio" id="insurance_op8" name="problem_04_insurance" value="8" class="items01" oninput="checker_radio_3()"><br>8
                </td>
                <td>
                    <input type="radio" id="insurance_op9" name="problem_04_insurance" value="9" class="items01" oninput="checker_radio_3()"><br>9
                </td>
                <td>
                    <input type="radio" id="insurance_op10" name="problem_04_insurance" value="10" class="items01" oninput="checker_radio_3()"><br>10
                </td>
                <td style="width: 15%;">
                    Muy seguro
                </td>
            </tr>
        </table>

        </ol>
        
        <br>
        
        <div class="div_btnNext">
            <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next">Enviar</button>
        </div>
        
<input type="hidden" name="check_box_01" value="0" id="check_box_01">
<input type="hidden" name="check_radio_01" value="0" id="check_radio_01">
<input type="hidden" name="check_slider_01" value="0" id="check_slider_01">
<input type="hidden" name="check_radio_02" value="0" id="check_radio_02">
<input type="hidden" name="check_radio_03" value="0" id="check_radio_03">

        {% endblock %}

