{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'allocations/js/highcharts.js' %}"></script>
    <script src="{% static 'allocations/js/functions.js' %}"></script>
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    
    <script>

{% if graphType == 1 %}

        // Gráfica para inversión A e inversión B
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_a }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }, {
                animation: false,
                data: {{ data_b }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

{% else %}

        // Gráfica inversión A
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_a }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

        // Gráfica inversión B
        Highcharts.chart('graph02', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_b }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

{% endif %}

        function nextCard() {
            let btn = document.getElementById("id_next");
            btn.click();
        }

        function validate_next() {
            let check_02 = document.getElementById("check_radio_01").value;
            let check_03 = document.getElementById("id_check_slider_probability_b").value;
            let check_04 = document.getElementById("check_radio_02").value;
            if((check_02 == 1) && (check_03 == 1) && (check_04 == 1)) {
                let next_button = document.getElementsByClassName('otree-btn-next');
                    next_button[0].style.cssText += 'display: block !important; margin: 0 auto;';
            } else {
                let in_1 = document.getElementById("slider_retorno_01").value;
                if((in_1 == null) || (in_1 == "")){
                    if((check_02 == 0) || (check_04 == 0)) {
                        let btn = document.getElementById("id_next");
                        btn.click();
                    }
                }
            }
        }

        window.onload = function(){
            // Agregar el enter para los inputs de números
            let in_elements = document.getElementsByClassName("inNumber");
            if(in_elements.length > 0) {
                for(let i=0; i<in_elements.length; i++) {
                    in_elements[i].addEventListener("keypress", function(event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            validate_next();
                        }
                    }
                )}
            }
        };

    </script>
{% endblock %}

{% block title %}
    Problema 1
{% endblock %}

{% block content %}

{% if graphType == 1 %}
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph" id="a_1">{{ data_a.0 }}</td>
                <td class="cell_graph" id="a_2">{{ data_a.1 }}</td>
                <td class="cell_graph" id="a_3">{{ data_a.2 }}</td>
                <td class="cell_graph" id="a_4">{{ data_a.3 }}</td>
                <td class="cell_graph" id="a_5">{{ data_a.4 }}</td>
                <td class="cell_graph" id="a_6">{{ data_a.5 }}</td>
                <td class="cell_graph" id="a_7">{{ data_a.6 }}</td>
                <td class="cell_graph" id="a_8">{{ data_a.7 }}</td>
            </tr>
            <tr>
                <td class="cell_graphInv">Inversión B</td>
                <td class="cell_graph" id="b_1">{{ data_b.0 }}</td>
                <td class="cell_graph" id="b_2">{{ data_b.1 }}</td>
                <td class="cell_graph" id="b_3">{{ data_b.2 }}</td>
                <td class="cell_graph" id="b_4">{{ data_b.3 }}</td>
                <td class="cell_graph" id="b_5">{{ data_b.4 }}</td>
                <td class="cell_graph" id="b_6">{{ data_b.5 }}</td>
                <td class="cell_graph" id="b_7">{{ data_b.6 }}</td>
                <td class="cell_graph" id="b_8">{{ data_b.7 }}</td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<div>
    <table class="tabDiv_GraphType2">
        <tr>
            <td style="width: 50%;">
                <div id="graph01" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión A</td>
                            <td class="cell_graph" id="a_1">{{ data_a.0 }}</td>
                            <td class="cell_graph" id="a_2">{{ data_a.1 }}</td>
                            <td class="cell_graph" id="a_3">{{ data_a.2 }}</td>
                            <td class="cell_graph" id="a_4">{{ data_a.3 }}</td>
                            <td class="cell_graph" id="a_5">{{ data_a.4 }}</td>
                            <td class="cell_graph" id="a_6">{{ data_a.5 }}</td>
                            <td class="cell_graph" id="a_7">{{ data_a.6 }}</td>
                            <td class="cell_graph" id="a_8">{{ data_a.7 }}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="graph02" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión B</td>
                            <td class="cell_graph" id="b_1">{{ data_b.0 }}</td>
                            <td class="cell_graph" id="b_2">{{ data_b.1 }}</td>
                            <td class="cell_graph" id="b_3">{{ data_b.2 }}</td>
                            <td class="cell_graph" id="b_4">{{ data_b.3 }}</td>
                            <td class="cell_graph" id="b_5">{{ data_b.4 }}</td>
                            <td class="cell_graph" id="b_6">{{ data_b.5 }}</td>
                            <td class="cell_graph" id="b_7">{{ data_b.6 }}</td>
                            <td class="cell_graph" id="b_8">{{ data_b.7 }}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}

<br>

<ol>
<li style="margin-top: 10px;"> Si la inversión
{% if assetA == 'Col_A' %}
A
{% else %}
B
{% endif %}
 tiene una rentabilidad del 20% ¿Cuál es la rentabilidad más probable de la inversión
{% if assetA == 'Col_A' %}
B
{% else %}
A
{% endif %}?</li>
<div class="card_table" id="h-slider-div" style="text-align: center; margin-top: 10px;">
    <table class="table_question">
        <tr>
            <td style="width: 25%;"></td>
            <td class="cell_question" style="width: 25%;">
                <div id="text01">
                    Retorno Inversión 
{% if assetA == 'Col_A' %}
B:
{% else %}
A:
{% endif %}
                </div>
            </td>
            <td class="cell_input" style="width: 25%;">
                <div class="answer_test">
                    <input type="number" class="inNumber" name="problem_01_return_b" id="slider_retorno_03" min="0" max="100" required>
                </div>
            </td>
            <td style="width: 25%;"></td>
        </tr>
    </table>
</div>

<li style="margin-top: 10px;"> Si en la inversión
{% if assetA == 'Col_A' %}
B
{% else %}
A
{% endif %}
 la rentabilidad 
{% if assetA_order == 'Decreasing' %}
    disminuye
{% else %}
    aumenta
{% endif %}
al 
{% if assetA == 'Col_A' %}
    {% if assetA_order == 'Decreasing' %}
        -9%
    {% else %}
        20%
    {% endif %}
{% else %}
    {% if assetA_order == 'Decreasing' %}
        -10%
    {% else %}
        19%
    {% endif %}
{% endif %}
¿Qué es más probable que suceda con la rentabilidad de la inversión
{% if assetA == 'Col_A' %}
A
{% else %}
B
{% endif %}?
</li>
<div class="card_table" id="h-slider-div" style="text-align: left; margin-top: 10px;">
    <input type="radio" id="q2_o1" name="problem_01_expect_return_b" value="1" class="items01">
    <label for="q2_o1" id="l_q2_o1" class="items01"> Disminuya a 
{% if assetA == 'Col_A' %}
    -10%
{% else %}
    -9%
{% endif %}</label>
    <br>
    <input type="radio" id="q2_o2" name="problem_01_expect_return_b" value="2" class="items01">
    <label for="q2_o2" id="l_q2_o2" class="items01">Se mantenga igual</label>
    <br>
    <input type="radio" id="q2_o3" name="problem_01_expect_return_b" value="3" class="items01">
    <label for="q2_o3" id="l_q2_o3" class="items01">Aumente a
{% if assetA == 'Col_A' %}
    19%
{% else %}
    20%
{% endif %}</label>
    <input type="hidden" name="check_radio_01" value="0" id="check_radio_01"/>
</div>

<li style="margin-top: 10px;"> Supongamos que se saca otra carta adicional. Si el retorno de la inversión A es del 
{% if assetA == 'Col_A' %}
    {% if assetA_order == 'Decreasing' %}
        20%
    {% else %}
        -9%
    {% endif %}
{% else %}
    {% if assetA_order == 'Decreasing' %}
        19%
    {% else %}
        -10%
    {% endif %}
{% endif %}
¿Cuál es la probabilidad de que la otra Inversión B tenga un retorno del 
{% if assetA == 'Col_A' %}
    {% if assetB_order == 'Decreasing' %}
        19%
    {% else %}
        -10%
    {% endif %}
{% else %}
    {% if assetB_order == 'Decreasing' %}
        20%
    {% else %}
        -9%
    {% endif %}
{% endif %}
?</li>
<div class="card_table" id="h-slider-div" style="text-align: center; margin-top: 10px;">
    <table class="table_question" style="margin: 0 auto; width: 70% !important;">
        <tr>
            <td>
            <span>- %</span>
            </td>
        </tr>
        <tr>
            <td class="td_slider">
                <input type="range" name="problem_01_probability_b" value="" min="0" max="100" step="1" id="slider_porcentaje_02" class="slider_porcentaje" required>
                <input type="hidden" name="check_slider_probability_b" value="0" id="id_check_slider_probability_b"/>
            </td>
        </tr>
    </table>
</div>

<li style="margin-top: 10px;"> De acuerdo con las gráficas ¿En cuál inversión la dispersión de pagos es mayor?
</li>
<div class="card_table" id="h-slider-div" style="text-align: left; margin-top: 10px;">
    <input type="radio" id="q4_o1" name="problem_01_var" value="1" class="items02" required>
    <label for="q4_o1" id="l_q4_o1" class="items02"> Inversión A</label>
    <br>
    <input type="radio" id="q4_o2" name="problem_01_var" value="2" class="items02">
    <label for="q4_o2" id="l_q4_o2" class="items02">Inversión B</label>
    <br>
    <input type="radio" id="q4_o3" name="problem_01_var" value="3" class="items02">
    <label for="q4_o3" id="l_q4_o3" class="items02">Ambas son iguales</label>
    <input type="hidden" name="check_radio_02" value="0" id="check_radio_02"/>
</div>

</ol>

<br>

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next">Enviar</button>
</div>

{% endblock %}
