{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<h1>Consentimiento Informado</h1>
<p> Esta es una actividad academica organizada por investigadores de la Universidad del Rosario y sus colegas.  
  Nuestro objetivo es entender las estrategias que las personas usan para invertir sus recursos.  Esto incluye decisions que implican riego.  
  A continuación les explicaremos con más detalle en que consisten las actividades que debe desarrollar.  
  Sin embargo queremos aclarar que la actividad no resultará en ningún daño personal.
  En las actividades usted puede recibir un pago que va a depender de sus decisiones y de la suerte.  

  El monto mínimo que recibirá por completar toda la actividad es de $20.000.  
  Esperamos que participe en futuras actividades de otros investigadores, aún si no hay un pago de por medio. 
</p>

<p>Su participación en este ejercicio es totalmente voluntaria. 
 Usted puede retirarse en cualquier momento. 
 Sin embargo, si decide retirarse antes de que la actividad termine, usted no recibirá ningún pago. 
 También puede solicitar que la información sobre sus decisiones no sea usada en el análisis.
 </p>
  
<p><b>Toda la información (decisiones y ganancias) que se recolecte en esta actividad será utilizada de manera confidencial por los investigadores del proyecto y con fines estrictamente académicos.</b> 
En ningún caso su información individual será compartida con otras personas pues los datos serán anonimizados.
Sus decisiones y respuestas durante esta actividad no tendrán ningún efecto sobre sus derechos-obligaciones con el Comité de Ganaderos u organizaciones de productores.</p>


<p>Si completa la actividad, sus pagos serán procesadas después de que usted termine de responder la encuesta al final de la actividad. 
En la invitación a participar usted recibió un <i>código de participante</i>, 
por favor no pierda ese código (cuando pueda tómele una foto con el celular) y en ese mismo papel escriba sus pagos totales pues lo necesitará para reclamar sus ganancias al finalizar la actividad.  </p>
<p>Cada participante recibirá sus pagos en privado. Para recibir el pago usted deberá firmar un recibo, donde deberá escribir su número de documento de identidad. 
Ese recibo será utilizado únicamente para certificar el pago y será entregado a la Universidad del Rosario como un soporte contable.  </p>



<p> Si usted quiere una copia de este consentimiento informado, por favor, pregúntanos por ella y le daremos una copia. 

Si tiene otras preguntas o inquietudes, por favor levante la mano y uno de los monitores le ayudará individualmente.
</p>

<p><b>ACEPTACIÓN:</b></p>
<p>Haga clic en las dos casillas si está de acuerdo en continuar. 
  Si decide no continuar con el estudio, por favor cierre esta ventana y abandone la sesión de la actividad.</p>
<p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent" id="consent">
  <label class="form-check-label" for="consent">
    Comprendo la información anterior y mis derechos y compromisos durante esta actividad. 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent_account" id="consent_account">
  <label class="form-check-label" for="consent_account">
    Comprendo que para recibir mi pago debo presentar un papel con mi código de participante y mis ganancias al finalizar la actividad. 
  </label>
</div>
</p>
<div id='b_consent'>
{% next_button %}
</div>
{% endblock %}


{% block global_scripts %}
<script>
  var checkbox1 = $('#consent'), checkbox2 = $('#consent_account'),
    chShipBlock = $('#b_consent'), consent = false, consent_account = false;

  chShipBlock.hide();
  checkbox1.on('click', function () {
    if ($(this).is(':checked')) {
      consent = true;
    } else {
      consent = false;
    }
    showButton()
  });
  checkbox2.on('click', function () {
    if ($(this).is(':checked')) {
      consent_account = true;
    } else {
      consent_account = false;
    }
    showButton()
  });
  function showButton() {
    if (consent && consent_account) {
      chShipBlock.show();
    } else {
      chShipBlock.hide();
    }
 }
</script>
{% endblock %}

if($(this).is(':checked')) {
chShipBlock.show();
chShipBlock.find('input').attr('required', true);
} else {
chShipBlock.hide();
chShipBlock.find('input').attr('required', false);
}