{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<h1>Consentimento Informado</h1>
<p> 
Esta é uma atividade acadêmica organizada por pesquisadores da Universidade de Göttingen e seus colegas.
Nosso objetivo é entender como as pessoas tomam decisões de investimento e como se protegem contra eventos adversos.
Isso inclui decisões que envolvem riscos.
A seguir explicaremos com mais detalhes em que consistem as atividades que devem realizar.
Porém, queremos esclarecer que a atividade não causará nenhum custo pessoal.
Nas atividades você poderá receber um pagamento que dependerá de suas decisões e da sorte.
</p> 
<p>
O valor mínimo que você receberá por concluir toda a atividade é de <b>R$ 20,00</b>. Dependendo de suas decisões na atividade, esse valor pode aumentar em até <b>R$ 60,00</b>.
</p>
<p>
A sua participação neste exercício é totalmente voluntária.
Você pode se retirar a qualquer momento.
No entanto, se você decidir sair antes do término da atividade, não receberá o pagamento total.
Você também pode solicitar que informações sobre suas decisões não sejam utilizadas na análise.
</p>
<p>
<b>Todas as informações coletadas nesta atividade serão utilizadas de forma confidencial pelos pesquisadores do projeto e para fins estritamente acadêmicos.</b> 
Suas informações individuais não serão compartilhadas com outras pessoas e os dados serão anonimizados.
</p>
<p>
Se você concluir a atividade, seus pagamentos serão processados após você terminar de responder à pesquisa no final da atividade.
Nos documentos que você recebeu você encontrará um <b>código de participante</b>,
Por favor, não perca esse código (quando puder, tire uma foto com seu celular) e nesse mesmo papel escreva o total de pagamento, pois você precisará dele para resgatar seu pagamento ao final da atividade.
</p>
<p>
Cada participante receberá seus pagamentos de forma privada.
Para receber o pagamento, você deverá assinar um recibo, onde deverá escrever o número do seu RG.
Este recibo será utilizado apenas para certificar o pagamento e servirá como suporte contábil.
</p>
<p>
Se desejar uma cópia deste consentimento informado, solicite-nos e nós lhe daremos uma cópia.
Se você tiver outras dúvidas ou preocupações, levante a mão e receberá ajuda individualmente.
</p>
<p><b>CONCORDAR:</b></p>
<p>Clique em ambas as caixas se concordar em continuar. 
Se você decidir não continuar com o estudo, feche esta janela e saia da sessão de atividades.</p>
<p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent" id="consent">
  <label class="form-check-label" for="consent">
    Entendo as informações acima, bem como meus direitos e compromissos durante esta atividade. 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent_account" id="consent_account">
  <label class="form-check-label" for="consent_account">
    Entendo que para receber meu pagamento devo apresentar um papel com meu código de participante e o valor de meu pagamento ao final da atividade. 
  </label>
</div>
</p>
<div id='b_consent' style="width: 100%; text-align: center;">
{% next_button %}
</div>
{% endblock %}


{% block global_scripts %}
<script>
  var checkbox1 = $('#consent'), checkbox2 = $('#consent_account'),
    chShipBlock = $('#b_consent'), consent = false, consent_account = false;

  chShipBlock.hide();
  checkbox1.on('click', function () {
    if ($(this).is(':checked')) {
      consent = true;
    } else {
      consent = false;
    }
    showButton()
  });
  checkbox2.on('click', function () {
    if ($(this).is(':checked')) {
      consent_account = true;
    } else {
      consent_account = false;
    }
    showButton()
  });
  function showButton() {
    if (consent && consent_account) {
      chShipBlock.show();
    } else {
      chShipBlock.hide();
    }
 }
</script>
{% endblock %}

if($(this).is(':checked')) {
chShipBlock.show();
chShipBlock.find('input').attr('required', true);
} else {
chShipBlock.hide();
chShipBlock.find('input').attr('required', false);
}