{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script>
        let in_graph = document.getElementById("id_graphType");
        in_graph.value = -1;
        in_graph.style.display = "none";
    </script>
{% endblock %}

{% block title %}
    Bienvenida
{% endblock %}

{% block content %}

<p>Este taller consta de CUATRO (4) actividades diferentes. En cada actividad le explicaremos qué debe hacer.
<br><br>
Por su participación recibirá un PAGO INICIAL de 20.000 pesos. Pero puede tener <i>ganancias</i> o <i>pérdidas</i> adicionales según sus respuestas en las actividades y el azar. Por lo tanto, le pedimos que lea atentamente las instrucciones y piense antes de responder en cada actividad. Al final haremos algunas preguntas sobre usted.
<br><br>
<b>¿Cómo se calculará su pago total?</b>
<br>
Usted hará parte de un grupo de 3 personas conformado al azar. Para calcular su pago total por asistir al taller los retornos de sus inversiones se sumarán con las de los otros dos miembros del grupo y se repartirá en partes iguales. Las actividades que determinarán los pagos serán seleccionadas al azar por el COMPUTADOR, pero usted podrá participar en una votación grupal para decidir la regla de elección del COMPUTADOR. <br><br>
<b>No se permite hablar en voz alta</b>
<br>
Si en algún momento no entiende algo, por favor levante la mano, y uno de los monitores se acercará para tratar de ayudarlo personalmente. El taller es individual, le pedimos que por favor no hable ni intente mirar las respuestas de los demás participantes. 
<br>

<p><b>
        {% formfields %}
 </b></p>

<p>
    Antes de comenzar con las actividades, vamos a empezar con unas preguntas iniciales. Cuando esté listo pulse <i>"Siguiente”</i> para continuar.
</p>        
<div style="width: 100%; text-align: center;">
    {% next_button %}
</div>

{% endblock %}