{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script>
        let in_graph = document.getElementById("id_graphType");
        in_graph.value = -1;
        in_graph.style.display = "none";
    </script>
{% endblock %}

{% block title %}
Sejam bem-vindos
{% endblock %}

{% block content %}

<p>Este exercício tem QUATRO (4) atividades. Em cada atividade, explicaremos o que você deve fazer.
<br><br>
Pela sua participação você receberá um PAGAMENTO INICIAL de <b>R$ 20,00</b>. Mas você pode ter <i>lucros</i> ou <i>perdas</i> adicionais, dependendo de suas respostas nas atividades e da sorte. Por isso, pedimos que você leia atentamente as instruções e pense antes de responder cada atividade. No final, faremos algumas perguntas sobre você.
<br><br>
<b>Como será calculado o seu pagamento total?</b>
<br>
Os pagamentos serão determinados de acordo com uma das quatro atividades. O COMPUTADOR selecionará aleatoriamente uma das atividades e suas decisões nesta atividade determinarão seu pagamento.<br><br>
<b>ATENÇÃO! Não é permitido falar em voz alta durante o exercício.</b> <br>O exercício é individual, pedimos que não conversem nem tentem olhar as respostas dos demais participantes. Se você não entender algo, levante a mão e receberá ajuda individualmente.
<br>

<p><b>
        {% formfields %}
 </b></p>

<p>
    Antes de iniciar as atividades, vamos começar com algumas perguntas iniciais. Quando estiver pronto, pressione "Avançar” para continuar.
</p>        
<div style="width: 100%; text-align: center;">
    {% next_button %}
</div>

{% endblock %}