{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script>
        let in_graph = document.getElementById("id_graphType");
        in_graph.value = -1;
        in_graph.style.display = "none";
    </script>
{% endblock %}

{% block title %}
    Bienvenida
{% endblock %}

{% block content %}

<p>Este taller consta de seis (6) actividades diferentes. En cada actividad le explicaremos qué debe hacer.
<br><br>
Por su participación recibirá un PAGO INICIAL de 20.000 pesos. Pero puede tener <i>ganancias</i> o <i>pérdidas</i> adicionales según sus respuestas en las actividades y el azar. Por lo tanto, le pedimos que lea atentamente las instrucciones y piense antes de responder en cada actividad. Al final haremos algunas preguntas sobre usted.
<br><br>
<b>¿Cómo se calculará su pago total?</b>
<br>
El computador seleccionará al azar UNA de las SEIS actividades para calcular su pago total por asistir al taller. A su PAGO INICIAL de 20.000 pesos se le sumarán sus <i>ganancias</i> y se restarán sus <i>pérdidas</i> en la actividad seleccionada. 
<br><br>
<b>No se permite hablar en voz alta</b>
<br>
Si en algún momento no entiende algo, por favor levante la mano, y uno de los monitores se acercará para tratar de ayudarlo personalmente. El taller es individual, le pedimos que por favor no hable ni intente mirar las respuestas de los demás participantes. 
<br>

<p><b>
        {% formfields %}
 </b></p>

<p>
    Antes de comenzar con las actividades, vamos a empezar con unas preguntas iniciales. Cuando esté listo pulse <i>"Siguiente”</i> para continuar.
</p>        
<div style="width: 100%; text-align: center;">
    {% next_button %}
</div>

{% endblock %}
