{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Matemáticas 
{% endblock %}

{% block content %}

<p>Antes de comenzar debe ganar el dinero con el que podrá hacer inversiones.</p>

<p>Le presentaremos diez (10) operaciones matemáticas, una por una.</p>

<p>Si la respuesta es incorrecta, el computador le pedirá que la corrija. Si la respuesta es correcta, aparecerá la siguiente operación.</p>

<p>Por resolver correctamente las diez operaciones matemáticas su presupuesto de inversión será de $100.000.</p> 

{% next_button %}

{% endblock %}
