{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <link href="{% static 'real_effort_numbers/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'real_effort_numbers/js/functions.js' %}"></script>

    <script>
        var start;
        var cnt_errors = 0;

        function validate() {
            let in_answ = document.getElementById("id_q1");
            let ele_cnt = document.getElementById("q1_cnt_mistakes");
            let ele_mis = document.getElementById("q1_mistakes");
            let ele_tim = document.getElementById("q1_time");
            let ele_isCorrect = document.getElementById("q1_isCorrect");

            ele_tim.value = Date.now() - start;
            ele_cnt.value = 0;
            ele_mis.value = '{}';

            validateAnswer(in_answ, Number({{ answer }}), ele_cnt, ele_mis, ele_tim, ele_isCorrect);
        }

        window.onload = function(){
            start = Date.now();
        };

        $(document).ready(function () {
            $('.btnNext').click(
                function () {
                    validate();
                }
            );
        });
    </script>
{% endblock %}

{% block title %}
    Preguntas iniciales
{% endblock %}

{% block content %}

<div class="div_operation">
    <table>
        <tr>
            <td class="cell_question">{{ n_question }}. {{ question }} = </td>
            <td><input type="number" class="inNumber" name="q1" id="id_q1" oninput="restore_error('id_q1')" required></td>
        </tr>
    </table>
    <div class="error_msg" id="div_error">
        La respuesta no es correcta, intente de nuevo
    </div>

</div>

<input type="hidden" name="q1_cnt_mistakes" value="" id="q1_cnt_mistakes">
<input type="hidden" name="q1_mistakes" value="{ " id="q1_mistakes">
<input type="hidden" name="q1_time" value="" id="q1_time">
<input type="hidden" name="q1_isCorrect" value="" id="q1_isCorrect">

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>
{% endblock %}
