{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <link href="{% static 'real_effort_numbers/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'real_effort_numbers/js/functions.js' %}"></script>

    <script>
        var start;
        var cnt_errors = 0;

        function validate() {
            let in_answ = document.getElementById("id_q2");
            let ele_cnt = document.getElementById("q2_cnt_mistakes");
            let ele_mis = document.getElementById("q2_mistakes");
            let ele_tim = document.getElementById("q2_time");
            
            ele_tim.value = Date.now() - start;
            ele_cnt.value = 0;
            ele_mis.value = '{}';
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
            btn.setAttribute("disabled", true);

            //validateAnswer(in_answ, Number({{ answer }}), ele_cnt, ele_mis, ele_tim);
        }

        window.onload = function(){
            start = Date.now();
        };
    </script>
{% endblock %}

{% block title %}
    Preguntas iniciales 
{% endblock %}

{% block content %}

<div class="div_operation">
    <table>
        <tr>
            <td class="cell_question">{{ n_question }}. {{ question }} = </td>
            <td><input type="number" class="inNumber" name="q2" id="id_q2" oninput="restore_error('id_q2')" required></td>
        </tr>
    </table>
    <div class="error_msg" id="div_error">
        La respuesta no es correcta, intente de nuevo
    </div>

</div>

<input type="hidden" name="q2_cnt_mistakes" value="" id="q2_cnt_mistakes">
<input type="hidden" name="q2_mistakes" value="{ " id="q2_mistakes">
<input type="hidden" name="q2_time" value="" id="q2_time">

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validate()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>
{% endblock %}
