{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <link href="{% static 'real_effort_numbers/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'real_effort_numbers/js/functions.js' %}"></script>

    <script>
        var start;
        var cnt_errors = 0;

        function validate() {
            let in_answ = document.querySelector('input[name="q8"]:checked');
            let ele_cnt = document.getElementById("q8_cnt_mistakes");
            let ele_mis = document.getElementById("q8_mistakes");
            let ele_tim = document.getElementById("q8_time");
            
            ele_tim.value = Date.now() - start;
            ele_cnt.value = 0;
            ele_mis.value = '{}';
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
            btn.setAttribute("disabled", true);

            //validateAnswer(in_answ, "{% autoescape off %}{{ answer }}{% endautoescape %}", ele_cnt, ele_mis, ele_tim);
        }

        window.onload = function(){
            start = Date.now();
        };
    </script>
{% endblock %}

{% block title %}
    Preguntas iniciales
{% endblock %}

{% block content %}
{{ n_question }}. {{ question }}
<br>
<br>
<input type="radio" name="q8" value="true" id="radio_1" oninput="restore_error_radios()">
<label for="radio_1">Verdadero</label>
<br>
<input type="radio" name="q8" value="{% autoescape off %}{{ answer }}{% endautoescape %}" id="radio_2" oninput="restore_error_radios()">
<label for="radio_2">Falso</label>
<br>
<!-- <input type="radio" name="q8" value="not know" id="radio_3" oninput="restore_error_radios()">
<label for="radio_3">No sabe</label>
<br>
<input type="radio" name="q8" value="NS/NI" id="radio_4" oninput="restore_error_radios()">
<label for="radio_4">Prefiero no responder</label> -->

<div class="div_operation">
    <div class="error_msg" id="div_error">
        La respuesta no es correcta, intente de nuevo
    </div>
</div>

<input type="hidden" name="q8_cnt_mistakes" value="" id="q8_cnt_mistakes">
<input type="hidden" name="q8_mistakes" value="{ " id="q8_mistakes">
<input type="hidden" name="q8_time" value="" id="q8_time">

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validate()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>
{% endblock %}
