{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>

        // Gráfica
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function nextCard() {
            let btn = document.getElementById("id_next");
            btn.click();
        }

    </script>
{% endblock %}

{% block title %}
    Parte 2
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                Haga clic en <i>“Mostrar carta”</i> para destapar la siguiente carta que está frente a la <i>Inversión A</i>.
            </div>
        </td>
    </tr>
</table>

<br>  
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph">{{ data.0 }}</td>
                <td class="cell_graph">{{ data.1 }}</td>
                <td class="cell_graph">{{ data.2 }}</td>
                <td class="cell_graph">{{ data.3 }}</td>
                <td class="cell_graph">{{ data.4 }}</td>
                <td class="cell_graph">{{ data.5 }}</td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="div_btnNext">
    <input type="button" value="Mostrar carta" class="btnNext" onclick="nextCard()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next">Mostrar carta</button>
</div>

{% endblock %}
