{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>

{% if graphType == 1 %}

        // Gráfica para inversión A e inversión B
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_a }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }, {
                animation: false,
                data: {{ data_b }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

{% else %}

        // Gráfica inversión A
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_a }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

        // Gráfica inversión B
        Highcharts.chart('graph02', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data_b }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: false
            }
        });

{% endif %}

        function nextCard() {
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function verify() {
            let input_A = document.getElementById("in_A").value;
            let input_B = document.getElementById("in_B").value;
            if(((input_A == "") || (input_A == null) || (input_A.length == 0)) && ((input_B == "") || (input_B == null) || (input_B.length == 0))){
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
                btn.setAttribute("disabled", true);
            } else {
                if (input_A == {{ data_a }}.filter(function(x){return x<0}).length) {
                    document.getElementById("A_answer").value = 1
                } else {
                    document.getElementById("A_answer").value = 0
                }
                if (input_B == {{ data_b }}.filter(function(x){return x<0}).length) {
                    document.getElementById("B_answer").value = 1
                } else {
                    document.getElementById("B_answer").value = 0
                }
                nextCard();
            }
        }

        window.onload = function(){
            // Agregar el enter para los inputs de números
            let in_elements = document.getElementsByClassName("inNumber");
            if(in_elements.length > 0) {
                for(let i=0; i<in_elements.length; i++) {
                    in_elements[i].addEventListener("keypress", function(event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            verify();
                        }
                    }
                )}
            }
        };

    </script>
{% endblock %}

{% block title %}
    Parte 2
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;" colspan="4">    
            <div id="text01">
                <b>Pregunta:</b> ¿Cuántas cartas frente a la <i>Inversión A</i> y en la <i>Inversión B</i> tiene escritos números negativos?
            </div>
        </td>
    </tr>
    <tr>
        <td class="cell_question" style="width: 15% !important;">
            Inversión A:
        </td>
        <td>
            <div class="answer_test">
                <input type="number" class="inNumber" name="test_04_A_number" id="in_A" required>
                <input type="number" style="display: none;" name="test_04_A_answer" id="A_answer">
            </div>
        </td>
        <td class="cell_question" style="width: 15% !important;">
            Inversión B:
        </td>
        <td>
            <div class="answer_test">
                <input type="number" class="inNumber" name="test_04_B_number" id="in_B" required>
                <input type="number" style="display: none;" name="test_04_B_answer" id="B_answer">
            </div>
        </td>
    </tr>
</table>

<br>  
{% if graphType == 1 %}
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph">{{ data_a.0 }}</td>
                <td class="cell_graph">{{ data_a.1 }}</td>
                <td class="cell_graph">{{ data_a.2 }}</td>
                <td class="cell_graph">{{ data_a.3 }}</td>
                <td class="cell_graph">{{ data_a.4 }}</td>
                <td class="cell_graph">{{ data_a.5 }}</td>
                <td class="cell_graph">{{ data_a.6 }}</td>
                <td class="cell_graph">{{ data_a.7 }}</td>
            </tr>
            <tr>
                <td class="cell_graphInv">Inversión B</td>
                <td class="cell_graph">{{ data_b.0 }}</td>
                <td class="cell_graph">{{ data_b.1 }}</td>
                <td class="cell_graph">{{ data_b.2 }}</td>
                <td class="cell_graph">{{ data_b.3 }}</td>
                <td class="cell_graph">{{ data_b.4 }}</td>
                <td class="cell_graph">{{ data_b.5 }}</td>
                <td class="cell_graph">{{ data_b.6 }}</td>
                <td class="cell_graph">{{ data_b.7 }}</td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<div>
    <table class="tabDiv_GraphType2">
        <tr>
            <td style="width: 50%;">
                <div id="graph01" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión A</td>
                            <td class="cell_graph">{{ data_a.0 }}</td>
                            <td class="cell_graph">{{ data_a.1 }}</td>
                            <td class="cell_graph">{{ data_a.2 }}</td>
                            <td class="cell_graph">{{ data_a.3 }}</td>
                            <td class="cell_graph">{{ data_a.4 }}</td>
                            <td class="cell_graph">{{ data_a.5 }}</td>
                            <td class="cell_graph">{{ data_a.6 }}</td>
                            <td class="cell_graph">{{ data_a.7 }}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="graph02" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión B</td>
                            <td class="cell_graph">{{ data_b.0 }}</td>
                            <td class="cell_graph">{{ data_b.1 }}</td>
                            <td class="cell_graph">{{ data_b.2 }}</td>
                            <td class="cell_graph">{{ data_b.3 }}</td>
                            <td class="cell_graph">{{ data_b.4 }}</td>
                            <td class="cell_graph">{{ data_b.5 }}</td>
                            <td class="cell_graph">{{ data_b.6 }}</td>
                            <td class="cell_graph">{{ data_b.7 }}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}

<br>

<div class="div_btnNext">
    <input type="button" value="Revisar" class="btnNext" onclick="verify()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Revisar</button>
</div>

{% endblock %}
