{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>

        // Gráfica
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data }},
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function verify(val) {
            let input_test = document.getElementById("in_test02").value;
            let answer;
            if (val < 0) {
                answer = val * 10 * -1;
            } else {
                answer = val * 10;
            }
            if((input_test.length == 0) || (input_test == "") || (input_test == null)) {
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
                btn.setAttribute("disabled", true);
            } else {
                if(answer == input_test) {
                    document.getElementById("test_02").value = 1;
                } else {
                    document.getElementById("test_02").value = 0;
                }
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
            }
        }

        window.onload = function(){
            // Agregar el enter para los inputs de números
            let in_elements = document.getElementsByClassName("inNumber");
            if(in_elements.length > 0) {
                for(let i=0; i<in_elements.length; i++) {
                    in_elements[i].addEventListener("keypress", function(event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            verify({{ data.7 }});
                        }
                    }
                )}
            }
        };


    </script>
{% endblock %}

{% block title %}
    Parte 2
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question">
            <div id="text01">
                <b>Pregunta:</b> ¿Cuánto 
                {% if data.7 < 0 %}
                    perderá
                {% else %}
                    ganará
                {% endif %} 
                si asigna <toMoney>1000</toMoney> a la <i>Inversión A</i> y sale una carta con el número {{ data.7 }}?
            </div>
        </td>
        <td class="cell_input">
            <div class="answer_test">
                <input type="number" class="inNumber" name="test_02_number" id="in_test02" required>
                <input type="number" style="display: none;" name="test_02_answer" id="test_02">
            </div>
        </td>
    </tr>
</table>

<br>  
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph">{{ data.0 }}</td>
                <td class="cell_graph">{{ data.1 }}</td>
                <td class="cell_graph">{{ data.2 }}</td>
                <td class="cell_graph">{{ data.3 }}</td>
                <td class="cell_graph">{{ data.4 }}</td>
                <td class="cell_graph">{{ data.5 }}</td>
                <td class="cell_graph">{{ data.6 }}</td>
                <td class="cell_graph">{{ data.7 }}</td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="div_btnNext">
    <input type="button" value="Revisar" class="btnNext" onclick="verify({{ data.7 }})">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Revisar</button>
</div>

{% endblock %}
