{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>

        var intervalID;
        var data_a = {{ data_a }};
        var cnt_cards = 0;
        var step_view = 1;
        var start;

        // Gráfica
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    text: 'Cenários'
                },
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno para cada R$ 100'
                },
                min: {{ min_y }} - 5,
                max: {{ max_y }} + 5
            },
            series: [{
                animation: false,
                data: [],
                lineWidth: 0,
                enableMouseTracking: false,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Investimento A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function start_points() {
            nextCard();
            intervalID = setInterval(nextCard, {{ time_steps }});
            document.getElementById("btn_start_points").style.backgroundColor = "#989898";
            document.getElementById("btn_start_points").disabled = true;
        }

        function nextCard() {
            if(cnt_cards < 7) {
                add_point_graph(cnt_cards);
            } else {
                add_point_graph(cnt_cards);
                document.getElementById("btnNext").style.display = 'block';
                document.getElementById("btnNext").style.margin = '0 auto';
                clearInterval(intervalID);

            }
            cnt_cards += 1;
        }

        function add_point_graph(n_data) {
            let y_pos_a;
            let color_lbl_a;
            if(data_a[n_data] > 0){
                y_pos_a = -3;
                color_lbl_a = '#008000';
            } else {
                y_pos_a = 25;
                color_lbl_a = '#e60d1a';
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: color_lbl_a,
                        fontSize: '0.8rem',
                        fontWeight: 'bold',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextView() {
            switch(step_view) {
            case 1:
                document.getElementById('step_1').style.display = 'none';
                document.getElementById('step_2').style.display = 'block';
                step_view += 1;
                break;
            case 2:
                document.getElementById('step_2').style.display = 'none';
                document.getElementById('step_3').style.display = 'block';
                step_view += 1;
                break;
            case 3:
                document.getElementById('step_3').style.display = 'none';
                document.getElementById('step_4').style.display = 'block';
                start = Date.now();
                step_view += 1;
                break;
            case 4:
                let in_test01 = document.getElementById("test_01_number");
                if(in_test01.value.length == 0) {
                    let btn = document.getElementById("id_next");
                    btn.removeAttribute("disabled");
                    btn.click();
                } else {
                    document.getElementById('test_01_time').value = Date.now() - start;
                    if((Number(in_test01.value) == Number({{ answers.0 }})) || (Number(in_test01.value) == Number({{ answers.1 }}))){
                        document.getElementById('text_result').innerHTML = 'Correto';
                        document.getElementById('test_01_answer').value = 'Correct';
                    } else {
                        document.getElementById('text_result').innerHTML = 'Incorreto';
                        document.getElementById('test_01_answer').value = 'Incorrect';
                    }
                    document.getElementById('step_4').style.display = 'none';
                    document.getElementById('step_5').style.display = 'block';
                    step_view += 1;
                }
                break;
            case 5:
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
                break;
            }
        }

    </script>
{% endblock %}

{% block title %}
    Atividade 2: Gráficos
{% endblock %}

{% block content %}
<div id="step_1" style="height: 115px;">
    No gráfico abaixo, você verá a porcentagem de retorno do <b>Investimento A</b> em <b>8 cenários</b> possíveis (8 posições no gráfico).
<br>
<br>
A porcentagem de retorno de cada investimento poderá ser diferente em cada cenário. Clique no botão "Mostrar Investimento" para ver o <b>retorno para cada R$ 100</b> investidos.
</div>

<div id="step_2" style="display: none; height: 115px;">
A primeira porcentagem de retorno é {{ data_a.0 }}%. Isso significa que para cada 100 reais atribuídos ao <b>Investimento A</b> você pode ganhar 30 reais.
</div>

<div id="step_3" style="display: none; height: 115px;">
Como você pode ver, <b>o retorno do investimento pode ser alto ou baixo</b>. De acordo com o gráfico, o retorno alto é de R$ 30 para cada R$ 100 investidos. E o retorno baixo é de R$ 5 para cada R$ 100 investidos. Quanto maior o retorno, maior será o seu ganho com a atividade. 
</div>

<div id="step_4" style="display: none; height: 115px;">
<table class="table_question">
    <tr>
        <td style="width: 10%;"><b>Pergunta:</b></td>
        <td class="cell_question">
            <div id="text01">
                Quanto ganhará se você investir R$ 100 no <b>Investimento A</b> e a porcentagem de retorno é de 5%?
            </div>
        </td>
        <td class="cell_input">
            <div class="answer_test">
                <input type="number" name="test_01_number" id="test_01_number" class="inNumber" required>
                <input type="hidden" name="test_01_answer" id="test_01_answer">
                <input type="hidden" name="test_01_time" id="test_01_time">
            </div>
        </td>
    </tr>
</table>
</div>

<div id="step_5" style="display: none; height: 115px;">
<b><text id="text_result"></text></b>, ganhará R$ 5.
<br>
<br>
Recorde que para cada 100 reais que você investe no <b>Investimento A</b> pode ganhar 5 ou 30 reais.
</div>

<br>

<div style="text-align: center;">
    <input type="button" value="Mostrar Investimento" class="btnNext" onclick="start_points()" id="btn_start_points">
</div>

<br>  
<div>
    <div id="graph01" class="div_graph"></div>
</div>

<br>

<div class="div_btnNext">
    <input type="button" value="Avançar" class="btnNext" style="display: none;" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Avançar</button>
</div>

{% endblock %}
