{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>
        var cnt_cards = 0;
        var str_card;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }};

{% if graphType == 1 %}

        // Gráfica para inversión A e inversión B
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }, {
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

{% else %}

        // Gráfica inversión A
        var graph_a = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        // Gráfica inversión B
        var graph_b = Highcharts.chart('graph02', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Inversión B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

{% endif %}

        function nextView() {
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function add_point_graph(n_data) {
            var cell_a = document.getElementById("a_"+(n_data+1));
            var cell_b = document.getElementById("b_"+(n_data+1));
            cell_a.innerHTML = data_a[n_data];
            cell_b.innerHTML = data_b[n_data];

            var color_lbl_a;
            var color_lbl_b;
            var cash_return_a = (100000 * data_a[n_data])/100;
            var cash_return_b = (100000 * data_b[n_data])/100;
            if(data_a[n_data] < 0) {
                color_lbl_a = '#ff0000';
            } else {
                color_lbl_a = '#00ff00';
            }
            if(data_b[n_data] < 0) {
                color_lbl_b = '#ff0000';
            } else {
                color_lbl_b = '#00ff00';
            }

            {% if graphType == 1 %}
            graph.series[0].addPoint({
            x: n_data,
            y: data_a[n_data],
            dataLabels: {
                enabled: true,
                format: cash_return_a.toLocaleString('es-CO'),
                rotation: -30,
                y: -15,
                style: {
                    color: color_lbl_a,
                    fontSize: '0.8rem',
                    }
                }
            });
            graph.series[1].addPoint({
            x: n_data,
            y: data_b[n_data],
            dataLabels: {
                enabled: true,
                format: cash_return_b.toLocaleString('es-CO'),
                rotation: -30,
                y: -15,
                style: {
                    color: color_lbl_b,
                    fontSize: '0.8rem',
                    }
                }
            });
            {% else %}
            graph_a.series[0].addPoint({
            x: n_data,
            y: data_a[n_data],
            dataLabels: {
                enabled: true,
                format: cash_return_a.toLocaleString('es-CO'),
                rotation: -30,
                y: -15,
                style: {
                    color: color_lbl_a,
                    fontSize: '0.8rem',
                    }
                }
            });
            graph_b.series[0].addPoint({
            x: n_data,
            y: data_b[n_data],
            dataLabels: {
                enabled: true,
                format: cash_return_b.toLocaleString('es-CO'),
                rotation: -30,
                y: -15,
                style: {
                    color: color_lbl_b,
                    fontSize: '0.8rem',
                    }
                }
            });
            {% endif %}
        }

        function nextCard() {
            if(cnt_cards < 8) {
                add_point_graph(cnt_cards);
            } else {
                document.getElementById("div_btnNext").style.display = 'block';
                clearInterval(intervalID);
            }
            cnt_cards += 1;
        }

        var intervalID = setInterval(nextCard, 2000);

    </script>
{% endblock %}

{% block title %}
    Instrucciones de Inversión
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
            </div>
        </td>
    </tr>
</table>

<br>  
{% if graphType == 1 %}
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph" id="a_1"></td>
                <td class="cell_graph" id="a_2"></td>
                <td class="cell_graph" id="a_3"></td>
                <td class="cell_graph" id="a_4"></td>
                <td class="cell_graph" id="a_5"></td>
                <td class="cell_graph" id="a_6"></td>
                <td class="cell_graph" id="a_7"></td>
                <td class="cell_graph" id="a_8"></td>
            </tr>
            <tr>
                <td class="cell_graphInv">Inversión B</td>
                <td class="cell_graph" id="b_1"></td>
                <td class="cell_graph" id="b_2"></td>
                <td class="cell_graph" id="b_3"></td>
                <td class="cell_graph" id="b_4"></td>
                <td class="cell_graph" id="b_5"></td>
                <td class="cell_graph" id="b_6"></td>
                <td class="cell_graph" id="b_7"></td>
                <td class="cell_graph" id="b_8"></td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<div>
    <table class="tabDiv_GraphType2">
        <tr>
            <td style="width: 50%;">
                <div id="graph01" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión A</td>
                            <td class="cell_graph" id="a_1"></td>
                            <td class="cell_graph" id="a_2"></td>
                            <td class="cell_graph" id="a_3"></td>
                            <td class="cell_graph" id="a_4"></td>
                            <td class="cell_graph" id="a_5"></td>
                            <td class="cell_graph" id="a_6"></td>
                            <td class="cell_graph" id="a_7"></td>
                            <td class="cell_graph" id="a_8"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="graph02" class="div_graphType2"></div>
                <div class="div_tabGraphType2">
                    <table class="tabGraph">
                        <tr>
                            <td class="cell_graphInv">Inversión B</td>
                            <td class="cell_graph" id="b_1"></td>
                            <td class="cell_graph" id="b_2"></td>
                            <td class="cell_graph" id="b_3"></td>
                            <td class="cell_graph" id="b_4"></td>
                            <td class="cell_graph" id="b_5"></td>
                            <td class="cell_graph" id="b_6"></td>
                            <td class="cell_graph" id="b_7"></td>
                            <td class="cell_graph" id="b_8"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}

<br>

<div class="div_btnNext" style="display: none;" id="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="nextView()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

{% endblock %}
