{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'js/highcharts.js' %}"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    
    <script>

        // Gráfica
        Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: false,
                data: {{ data }},
                lineWidth: 0.0,
                enableMouseTracking: false,
                marker:{
                    enabled:false
                },
                color: 'blue',
                name: 'Inversión A'
            }],
            legend: {
                enabled: true
            }
        });
    </script>
{% endblock %}

{% block title %}
    Parte 2
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                En cada carta está escrito un número. Ese número es el retorno por cada $100 que usted asigne a la <i>Inversión A</i>.
            </div>
        </td>
    </tr>
</table>

<br>  
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
                <td class="cell_graph"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
