{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
    <script>

        var data = {{ data }};

        // Gráfica
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno por cada $100'
                },
                min: {{ min_y }} - 1,
                max: {{ max_y }} + 1
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Inversión A',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function nextCard() {
            let btn = document.getElementById("id_next");
            btn.click();
        }

        function add_point_graph() {
            var cell = document.getElementById("a_1");
            cell.innerHTML = data[0];
            graph.series[0].addPoint({
            x: 0,
            y: data[0],
            dataLabels: {
                enabled: true,
                format: '10'.toLocaleString('es-CO'),
                rotation: -30,
                y: -15,
                style: {
                    color: '#00ff00',
                    fontSize: '0.8rem',
                    }
                }
            });
            setTimeout(display_next_btn, 2000);
        }

        function display_next_btn() {
            document.getElementById("div_btnNext").style.display = 'block';
        }

        setTimeout(add_point_graph, 2000);

    </script>
{% endblock %}

{% block title %}
    Instrucciones de Inversión
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                En la carta está escrito el número {{ data.0 }}. Eso quiere decir que <i>“Por cada <toMoney>100</toMoney> que usted asigne a la Inversión A puede 
                {% if data.0 < 0 %}
                    perder <toMoney>{% widthratio data.0 1 -1 %}</toMoney>"
                {% else %}
                    ganar <toMoney>{{ data.0 }}</toMoney>"
                {% endif %}</i>.
            </div>
        </td>
    </tr>
</table>

<br>  
<div>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph">
        <table class="tabGraph">
            <tr>
                <td class="cell_graphInv">Inversión A</td>
                <td class="cell_graph" id="a_1"></td>
                <td class="cell_graph" id="a_2"></td>
                <td class="cell_graph" id="a_3"></td>
                <td class="cell_graph" id="a_4"></td>
                <td class="cell_graph" id="a_5"></td>
                <td class="cell_graph" id="a_6"></td>
                <td class="cell_graph" id="a_7"></td>
                <td class="cell_graph" id="a_8"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="div_btnNext" id="div_btnNext" style="display: none;">
    {% next_button %}
</div>

{% endblock %}
