{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>

{% endblock %}

{% block title %}
    Actividad 2: Resumen tablas
{% endblock %}

{% block content %}

En la tabla les mostramos las rentabilidades posibles de el dinero asignado a la <i>Inversión A</i> e <i>Inversión B</i>. 
<br>
<br>
Moviendo el cuadro que aparece puede ver cómo la cantidad de dinero que usted asigne a la <i>Inversión A</i> y la <i>Inversión B</i> afecta  las rentabilidades en cada ESCENARIO. 
<br>
<br>
Entonces, en la TABLA se mostrarán en diferentes renglones: 
<ul>
<li>Los retornos posibles de la <i>Inversión A</i> en cada ESCENARIO. </li>
<li>Los retornos posibles de la <i>Inversión B</i>  en cada ESCENARIO. </li>
<li>Los retornos totales en cada ESCENARIO, es decir, la suma de los posibles retornos de la <i>Inversión A</i> y la <i>Inversión B</i>. </li>
</ul>
<b>Recuerde que los posibles retornos dependen de la cantidad de dinero que usted asigne a la <i>Inversión A</i> y la <i>Inversión B</i>, y de los porcentajes de rentabilidad de cada ESCENARIO.</b>
<br>
<br>
Ahora veamos un ejemplo.

<br>
<br>

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" id="id_next">Siguiente</button>
</div>

{% endblock %}
