{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>

    <script>

        function nextView() {
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

    </script>
    
{% endblock %}

{% block title %}
    Atividade 2: Resumo dos gráficos
{% endblock %}

{% block content %}
<ol>
<li>Os gráficos apresentam o percentual de rentabilidade dos investimentos em 8 CENÁRIOS possíveis.</li>
<br>
<li>O percentual de rentabilidade de cada investimento pode ser diferente em cada CENÁRIO e pode ser positivo ou negativo.</li>
<br>
<li>O computador selecionará um CENÁRIO (mesma POSIÇÃO no gráfico) para determinar a rentabilidade do <i>Investimento A</i> e do <i>Investimento B.</i></li>
<br>
<li>Quando aparece um número positivo significa que gerou <i>lucros</i>, mas quando aparece um número negativo significa que o investimento gerou <i>perdas</i>.
</ol>
O valor que você ganha ou perde dependerá da quantidade de dinheiro que você aloca para cada opção de investimento. Para facilitar os cálculos, aparecerá uma TABELA abaixo do GRÁFICO.
<br>
<br>
<b>Agora explicaremos como entender as tabelas.</b>
<br>
<br>

<div class="div_btnNext">
    <input type="button" value="Avançar" class="btnNext" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Avançar</button>
</div>

{% endblock %}
