{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>

    <script>

        function nextView() {
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

    </script>
    
{% endblock %}

{% block title %}
    Actividad 2: Resumen gráficas
{% endblock %}

{% block content %}
<ol>
    <li>En las gráficas se presentan el porcentaje de rentabilidad de las inversiones en 8 ESCENARIOS posibles.</li>
    <br>
    <li>El porcentaje de rentabilidad de cada inversión puede ser distinto en cada ESCENARIO y puede ser positivo o negativo.</li>
    <br>
    <li>El computador seleccionará al azar los porcentajes de rentabilidad de la <i>Inversión A</i> e <i>Inversión B</i> que estén en el MISMO ESCENARIO (misma POSICIÓN en la gráfica) para determinar la rentabilidad del dinero que usted invierta.</li>
    <br>
    <li>Cuando sale un número positivo significa que generó <i>ganancias</i>, pero cuando sale un número negativo significa que la inversión generó <i>pérdidas</i>.
</ol>
La cantidad que usted gane o pierda dependerá de la cantidad de dinero que usted asigne a cada opción de inversión. Para facilitar los cálculos, debajo de la GRÁFICA aparecerá una TABLA.
<br>
<br>
<b>Ahora explicaremos cómo enteder las tablas.</b>

<br>
<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

{% endblock %}
