{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
{% endblock %}

{% block title %}
    Instrucciones de Inversión
{% endblock %}

{% block content %}
Ahora, te vamos a contar cómo distribuir una cantidad de dinero entre opciones de inversión.
En los problemas de decisión de inversión, se le pedirá que invierta <toMoney>100000</toMoney> entre las dos opciones.
<br> <br>
Su ganancia dependerá de: 
<br> <br>
<ol>
<li>La cantidad de dinero que asigne a cada opción de inversión.</li>
<li>El par de cartas que seleccione el computador al azar para determinar los rendimientos de las inversiones.</li>
</ol>

<br>

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
