{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>

{% endblock %}

{% block title %}
    Atividade 2: Resumo da tabela
{% endblock %}

{% block content %}

Na tabela mostramos os possíveis retornos do dinheiro investido no <i>Investimento A</i> e no <i>Investimento B</i>.
<br>
<br>
Ao mover a caixa sobre a barra você pode ver como a quantidade de dinheiro que você investe no <i>Investimento A</i> e no <i>Investimento B</i> afeta os retornos em cada CENÁRIO.
<br>
<br>
Então, na TABELA eles serão mostrados:
<ul>
<li>Os retornos possíveis do <i>Investimento A</i> em cada CENÁRIO. </li>
<li>Os retornos possíveis do <i>Investimento B</i> em cada CENÁRIO. </li>
<li>Os retornos totais em cada CENÁRIO, ou seja, a soma dos retornos possíveis do <i>Investimento A</i> e do <i>Investimento B</i>. </li>
</ul>
<b>Lembre-se que os retornos possíveis dependem da quantidade de dinheiro que você investe no <i>Investimento A</i> e no <i>Investimento B</i>, e nas porcentagens de retorno de cada CENÁRIO. </b>
<br>
<br>
Agora vamos ver um exemplo.

<br>
<br>

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" id="id_next">Avançar</button>
</div>

{% endblock %}
