{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
{% endblock %}

{% block title %}
    Atividade 2: Exemplo
{% endblock %}

{% block content %}

Suponha que você tenha <toMoney>100</toMoney> reais para investir e pode escolher investir em duas opções:
<ul>
     <li>Investimento A</li>
     <li>Investimento B</li>
</ul>
Você pode investir os 100 reais apenas em A ou apenas em B, ou dividir o valor entre A e B. A soma do dinheiro investido deve ser de <toMoney>100</toMoney> reais.
<br>
<br>
Cada investimento pode ter porcentagens de retorno altas ou baixas, dependendo do cenário. Se você investir em ambos os investimentos, pode acontecer que ambos tenham ganhos altos, que ambos tenham ganhos baixos, ou que um tenha ganho alto e o outro tenha ganho baixo.
<br>
<br>
Sua tarefa é escolher o quanto investir em cada investimento.
<br>
<br>
<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}