{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
{% endblock %}

{% block title %}
    Atividade 2: Exemplo
{% endblock %}

{% block content %}

Suponha que você receba <toMoney>100</toMoney> reais e possa investir esse dinheiro entre duas opções:
<ul>
     <li>Investimento A</li>
     <li>Investimento B</li>
</ul>
Você pode investir os 100 reais apenas em A ou B, mas também pode distribuí-lo entre A e B. A soma do dinheiro investido deve ser de <toMoney>100</toMoney> reais. <b>Neste jogo você receberá apenas a rentabilidade dos seus investimentos.</b>
<br>
<br>
Cada investimento pode ter percentuais de rentabilidade positivos ou negativos. Quando o percentual de rentabilidade for positivo, você terá <i>lucros</i> proporcionais ao que investiu. Pelo contrário, se o percentual de rentabilidade for negativo, você terá <i>perdas</i> proporcionais ao valor investido, que serão deduzidas do seu lucro total.
<br>
<br>
Se você investir em ambos os investimentos, pode acontecer que ambos tenham lucro, que ambos tenham perdas, ou que um tenha lucro e o outro tenha prejuízo.
<br>
<br>
<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}