{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
{% endblock %}

{% block title %}
    Actividad 2: Gráficas
{% endblock %}

{% block content %}

En esta actividad usted deberá asignar dinero entre dos opciones de inversión. Para tomar las decisiones de inversión, le mostraremos 
{% if graphType == 1 %}
una sola gráfica y una sola tabla con todas las inversiones juntas.
{% else %}
varias gráficas y varias tablas con todas las inversiones separadas.
{% endif %}
 Estos elementos contienen información sobre los retornos de cada opción de inversión. 
<br>
<br>
<b>Ahora le explicaremos cómo enteder las gráficas.</b>
<br>
<br>
<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
