{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <link href="{% static 'training/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'training/js/highcharts.js' %}"></script>
    <script src="{% static 'training/js/functions.js' %}"></script>
    
{% endblock %}

{% block title %}
    Atividade 2: Gráficos
{% endblock %}

{% block content %}

Nesta atividade, você vai investir 100 reais entre duas opções de investimento: <b>Investimento A</b> e <b>Investimento B</b>. Para tomar suas decisões de investimento, mostraremos a você 

{% if graphType == 1 %}
um único gráfico e uma única tabela com 
{% else %}
diferentes gráficos e tabelas com 
{% endif %}
os retornos de cada opção de investimento. 
<br>
<br>
<b>Antes de começarmos as decisões, vamos explicar a você como entender os gráficos.</b>
<br>
<br>
<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
