{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'choice_2/js/functions.js' %}"></script>
    <link href="{% static 'choice_2/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var start;
        var n_choices = 0;
        var arr_investment_heads = {{ investment_heads }};
        var arr_investment_tails = {{ investment_tails }};

        $(document).ready(function () {
            $('.radios').click(
                function (event) {
                    let elements = document.querySelectorAll('.radios');
                    let n_checked = 0;
                    let in_choices = document.getElementById("choices");
                    n_choices += 1;
                    let in_investment_tails = document.getElementById("radios_hidden");
                    let in_n_investment = document.getElementById("n_investment");
                    for(let i=0; i<elements.length; i++) {
                        n_checked += elements[i].checked;
                        if(elements[i].checked == 1){
                            let time = Date.now() - start;
                            in_choices.value += n_choices.toString() + ": {\'investment_heads\': " + arr_investment_heads[i] + ", \'investment_tails\': " + arr_investment_tails[i] + ", \'time\': "+ time.toString()+"}, ";
                            in_investment_tails.value = arr_investment_tails[i];
                            in_n_investment.value = (i+1);
                        }
                    }
                    if(n_checked == 1) {
                        let btn_next = document.getElementById("btnNext");
                        btn_next.style.display = "block";
                        btn_next.style.margin = "0 auto";
                    }
                }
            );
        });

        window.onload = function(){
            start = Date.now();

            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "-$ " + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$ " + num.toLocaleString('es-CO').toString();
                }
            }

        };

        function validate() {
            let in_time = document.getElementById("time_choice");
            in_time.value = Date.now() - start;
            let in_choices = document.getElementById("choices");
            in_choices.value += " }";
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

    </script>
{% endblock %}

{% block title %}
    Atividade 1: Investimentos com rentabilidade variável
{% endblock %}

{% block content %}

Para selecionar UM investimento clique no círculo na mesma linha. Não há respostas corretas ou incorretas. As opções de investimento e sua rentabilidade se a moeda der cara ou coroa são as seguintes: 

<br>
<br>

<table style="margin: 0 auto;">
    <tr>
        <td class="cell_radios_head">Marque somente<br>UMA opção</td>
        <td class="cell_radios_head">Opções de<br>Investimento</td>
        <td class="cell_radios_head">Rentabilidade<br>se der CARA</td>
        <td class="cell_radios_head">Rentabilidade<br>se der COROA</td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.0 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 1</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.0 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.0 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.1 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 2</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.1 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.1 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.2 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 3</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.2 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.2 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.3 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 4</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.3 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.3 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.4 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 5</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.4 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.4 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.5 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 6</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.5 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.5 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.6 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 7</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.6 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.6 }}</toMoney></td>
    </tr>
    <tr class="row_option">
        <td class="cell_option" style="text-align: center;"><input type="radio" class="radios" name="investment_heads" value="{{ investment_heads.7 }}"></td>
        <td class="cell_option"style="text-align: center;">Investimento 8</td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_heads.7 }}</toMoney></td>
        <td class="cell_option"style="text-align: center;"><toMoney>{{ investment_tails.7 }}</toMoney></td>
    </tr>
</table>

<br>

<input type="hidden" name="choices" value="{ " id="choices">
<input type="hidden" name="time_choice" value="" id="time_choice">
<input type="hidden" name="investment_tails" id="radios_hidden" value="">
<input type="hidden" name="n_investment" id="n_investment" value="">

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next">Avançar</button>
</div>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validate()" style="display: none;" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Avançar</button>
</div>

{% endblock %}
