{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'choice/js/functions.js' %}"></script>
    <link href="{% static 'choice/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var start;

        $(document).ready(function () {
            $('.radios').click(
                function (event) {
                    let elements = document.querySelectorAll('.radios');
                    let n_checked = 0;
                    for(let i=0; i<elements.length; i++) {
                        n_checked += elements[i].checked;
                    }
                    if(n_checked == 6) {
                        let btn_next = document.getElementById("btnNext");
                        btn_next.style.display = "block";
                        btn_next.style.margin = "0 auto";
                    }
                }
            );
        });

        window.onload = function(){
            start = Date.now();
            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "-$ " + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$ " + num.toLocaleString('es-CO').toString();
                }
            }
        };

        function validate() {
            let in_time = document.getElementById("time_choice");
            in_time.value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

    </script>
{% endblock %}

{% block title %}
    Actividad 4: Invertir o no invertir
{% endblock %}

{% block content %}

Escoja la opción en cada renglón para decidir si quiere “INVERTIR” o “NO INVERTIR”. No hay respuestas correctas o incorrectas. Las opciones de inversión y su rentabilidad cuando decide INVERTIR  son las siguientes: 

<br>
<br>

<table style="margin: 0 auto;">
    <tr>
        <td class="cell_radios_head">Opciones de<br>inversión</td>
        <td class="cell_radios_head">PÉRDIDA<br>si sale CARA</td>
        <td class="cell_radios_head">GANANCIA<br>si sale SELLO</td>
        <td class="cell_radios_head">INVERTIR</td>
        <td class="cell_radios_head">NO INVERTIR</td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 1</td>
        <td class="cell_radios"><toMoney>{{ loss.0 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.0 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_1"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_1"></td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 2</td>
        <td class="cell_radios"><toMoney>{{ loss.1 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.1 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_2"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_2"></td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 3</td>
        <td class="cell_radios"><toMoney>{{ loss.2 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.2 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_3"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_3"></td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 4</td>
        <td class="cell_radios"><toMoney>{{ loss.3 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.3 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_4"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_4"></td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 5</td>
        <td class="cell_radios"><toMoney>{{ loss.4 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.4 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_5"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_5"></td>
    </tr>
    <tr class="row_option">
        <td class="cell_radios">Inversión 6</td>
        <td class="cell_radios"><toMoney>{{ loss.5 }}</toMoney></td>
        <td class="cell_radios"><toMoney>{{ earnings.5 }}</toMoney></td>
        <td class="cell_radios"><input type="radio" class="radios" value="1" name="row_6"></td>
        <td class="cell_radios"><input type="radio" class="radios" value="0" name="row_6"></td>
    </tr>
</table>

<input type="hidden" name="time_choice" value="" id="time_choice">

<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validate()" style="display: none;" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

{% endblock %}
