{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'choice/js/functions.js' %}"></script>
    <link href="{% static 'choice/css/styles.css' %}" rel="stylesheet">
    
    <script>

        $(document).ready(function () {
            $('.radios').click(
                function (event) {
                    let elements = document.querySelectorAll('.radios');
                    console.log(elements);
                    let n_checked = 0;
                    for(let i=0; i<elements.length; i++) {
                        n_checked += elements[i].checked;
                    }
                    console.log(n_checked);
                    if(n_checked == 6) {
                        let next_button = document.getElementsByClassName('otree-btn-next');
                        next_button[0].style.cssText += 'display: block !important; margin: 0 auto;';
                    }
                }
            );
        });

        window.onload = function(){
            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                elements[j].innerHTML = "$" + num.toLocaleString('es-CO').toString();
            }
        };

    </script>
{% endblock %}

{% block title %}
    Choice
{% endblock %}

{% block content %}

<table class="table_question">
    <tr>
        <td class="cell_question" style="width: 100% !important;">    
            <div id="text01">
                En la siguiente tabla, encontrará una lista de lanzamientos de monedas con diferentes pagos. Los pagos difieren en cuanto se pierde si la moneda sale cara. Para cada fila, debe indicar si desea lanzar la moneda o no.
                <br>
                Para determinar su pago, se seleccionará al azar una de las seis filas lanzando un dado de seis caras. Si ha indicado que para la fila seleccionada al azar desea lanzar la moneda, se lanzará la moneda y se le pagará en consecuencia.
            </div>
        </td>
    </tr>
</table>

<br>  

<table style="width: 100%;">
    <tr>
        <td style="width: 70%;">
        </td>
        <td style="width: 15%; text-align: center; border: 1px solid #aaaaaaaa;" class="cell_radio">
            No tirar la moneda
        </td>
        <td style="width: 15%; text-align: center; border: 1px solid #aaaaaaaa;" class="cell_radio">
            Tirar la moneda
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>20000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_1" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_1" value="1">
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>30000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_2" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_2" value="1">
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>40000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_3" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_3" value="1">
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>50000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_4" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_4" value="1">
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>60000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_5" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_5" value="1">
        </td>
    </tr>
    <tr class="row_option">
        <td class="cell_option">
            Si la moneda cae en <b>cara</b> usted <b>pierde <toMoney>70000</toMoney></b>, si la moneda cae en <b>cruz</b> usted <b>gana <toMoney>60000</toMoney></b>.
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_6" value="0">
        </td>
        <td class="cell_radio">
            <input type="radio" class="radios" name="row_6" value="1">
        </td>
    </tr>
</table>

<br>

<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next">Enviar</button>
</div>

{% endblock %}
