{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'choice/js/functions.js' %}"></script>
    <link href="{% static 'choice/css/styles.css' %}" rel="stylesheet">
    
    <script>

        window.onload = function(){
            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "-$ " + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$ " + num.toLocaleString('es-CO').toString();
                }
            }
        };

    </script>
{% endblock %}

{% block title %}
    Atividade 4: Lançar ou não lançar uma moeda
{% endblock %}

{% block content %}

Nesta última atividade você decide se quer ou não apostar no lançamento de uma moeda.
<br>
<br>
Se você decidir lançar a moeda, você pode ganhar 18 reais se der COROA, ou perder uma certa quantia de dinheiro se der CARA. A possibilidade de sair cara ou coroa é sempre a mesma.
<br>
<br>
Se decidir não jogar a moeda, você não ganhará nem perderá.
<br>
<br>
Você verá 6 moedas diferentes. Sua tarefa é selecionar se deseja “Lançar” ou “NÃO lançar” cada uma das 6 moedas.
<br>
<br>
<b>O que acontece se o computador selecionar esta atividade para calcular seu pagamento total?</b>
<br>
O computador selecionará aleatoriamente uma das moedas. Se você decidir não lançar, você não receberá nenhum pagamento adicional. Se você decidir “Lançar”, o computador lançará a moeda e você ganhára 18 reais se der COROA ou perderá algum valor se der CARA.
<br>
<br>
<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" id="id_next">Avançar</button>
</div>

{% endblock %}
