{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'choice/js/functions.js' %}"></script>
    <link href="{% static 'choice/css/styles.css' %}" rel="stylesheet">
    
    <script>

        window.onload = function(){
            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "-$ " + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$ " + num.toLocaleString('es-CO').toString();
                }
            }
        };

    </script>
{% endblock %}

{% block title %}
    Actividad 4: Lanzar o no lanzar una moneda
{% endblock %}

{% block content %}

Esta es la cuarta actividad. En esta actividad decides lanzar o no una moneda.
<br>
<br>
Si decides lanzar la moneda, puedes ganar <toMoney>18000</toMoney> pesos si la moneda sale SELLO, o perder una cierta cantidad de dinero si sale CARA. La posibilidad de que salga CARA o SELLO es la misma para todas las inversiones. Si decides no tirar la moneda, no ganarás ni perderás.
<br>
<br>
Habrá 6 opciones diferentes. La diferencia entre las opciones es lo que puede ganar o perder al lanzar la moneda. En esta actividad usted debe seleccionar si “Lanzar” o “NO lanzar” en cada una de las 6 opciones. 
<br>
<br>
<b>¿Qué pasa si el computador selecciona esta actividad para calcular su pago total?</b>
<br>
<br>
El computador seleccionará al azar una de las opciones. Si usted decidió “NO lanzar” no recibirá ningún pago adicional, pero si decidió “Lanzar” el computador hará un lanzamiento de moneda y su ganancia dependerá si sale CARA o SELLO.  
<br>
<br>
<div class="div_btnNext">
    <button class="otree-btn-next btn btn-primary" id="id_next">Siguiente</button>
</div>

{% endblock %}
