{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'icl2/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Actividad 3" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<p>En esta parte debe tomar cinco (5) decisiones de inversión. En cada decisión decidir cuánto invertir en cada una de las siguiente opciones: </p>
<p><b>Si tienes 100 puntos cuanto invertirías en</b></p>
<ul>
  <li> <b>Inversión con una <i>rentabilidad fija</i></b>: La rentabilidad no depende de nada.</li>
  <li> <b>Inversión con una <i>rentabilidad variable</i></b>: La rentabilidad depende de un lanzamiento de moneda, si cae cara usted ganará $60.000 y si cae sello usted no ganará nada ($0).</li>
</ul>

<p>Las posibles ganancias de la inversión con <i>rentabilidad variable</i> serán las mismas en TODAS las decisiones, pero la posible ganancia de la inversión con <i>rentabilidad fija</i> irá cambiando. </p> 
<p>Recuerde que, UNA de las decisiones de esta parte podrá ser elegida por el computador al azar para determinar su ganancia total. Si en la decisión de inversión elegida usted escogió la inversión con <i>rentabilidad variable</i>, el computador hará un lanzamiento de moneda para determinar su ganancia, de lo contrario, recibirá la <i>rentabilidad fija. </i> </p> 
<p>Por favor elija de acuerdo con lo que usted prefiere, no hay respuestas correctas o incorrectas. </p>

    {% next_button %}
{% endblock %}