{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'final/js/functions.js' %}"></script>
    <link href="{% static 'final/css/styles.css' %}" rel="stylesheet">
    
{% endblock %}

{% block title %}
    Descripción del pago
{% endblock %}

{% block content %}

De las actividades posibles para pago, la seleccionada fue la # <b>{{ data.n_app }}</b> que es sobre <b>{{ data.nombre_formal }}</b>.
<br>
<br>

{% if data.nombre_app == 'choice_2' %}

En esta actividad tu seleccionaste la <b>Inversión # {{ data.n_investment }}</b>.
<br>
<br>
Al lanzar la moneda sale
    {% if data.coin_toss == 'heads' %}
        <b>cara</b>
    {% elif data.coin_toss == 'tails' %}
        <b>sello</b>
    {% endif %}
    dando una GANANCIA de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'allocations' %}

En esta actividad se seleccionó al azar el problema # <b>{{ data.n_problem }}</b> y de este se selección al azar el escenario # <b>{{ data.n_scene }}</b>.
<br><br>
Aquí escogiste invertir <b><toMoney>{{ data.val_invesment_1 }}</toMoney></b> que tiene un retorno de <b>{{ data.per_investment_1 }} %</b> en la <b>Inversión A</b> resultando en un retorno de <b><toMoney>{{ data.amount_invesment_1 }}</toMoney></b> y <b><toMoney>{{ data.val_invesment_2 }}</toMoney></b> que tiene un retorno de <b>{{ data.per_investment_2 }} %</b> en la <b>Inversión B</b> resultando en un retorno de <b><toMoney>{{ data.amount_invesment_2 }}</toMoney></b>; dando una 
    {% if data.payoff_amount_app < 0 %}
        PÉRDIDA
    {% else %}
        GANANCIA
    {% endif %}
de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'real' %}

En esta actividad se seleccionó al azar el escenario # <b>{{ data.n_scene }}</b>.
<br><br>
Aquí escogiste invertir <b>{{ data.has_1 }} hectáreas</b> en el <b>Cultivo A</b> dando un retorno de <b><toMoney>{{ data.amount_cultivo_1 }}</toMoney></b> y <b>{{ data.has_2 }} hectáreas</b> en el <b>Cultivo B</b> dando un retorno de <b><toMoney>{{ data.amount_cultivo_2 }}</toMoney></b>; dando un total de GANANCIA de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'choice' %}

En esta actividad se seleccionó al azar la fila <b>{{ data.n_investment }}</b>. 
<br>
<br>
En esta fila usted seleccionó
    {% if data.eleccion == 0 %}
        NO INVERTIR, por lo cual no presentas ganancia ni pérdida dando un pago de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
    {% elif data.eleccion == 1 %}
        INVERTIR, y se lanza la moneda saliendo
            {% if data.coin_toss == 'heads' %}
                <b>cara</b>, por lo cual presentas <b>pérdida</b> de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
            {% elif data.coin_toss == 'tails' %}
                <b>sello</b>, por lo cual <b>ganancia</b> de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
            {% endif %}
    {% endif %}

{% endif %}

<br>
<br>
Al monto base de <toMoney>{{ data.pago_base }}</toMoney> se le 
{% if data.payoff_amount_app < 0 %}
    restan las PÉRDIDAS 
{% else %}
    suman las GANANCIAS 
{% endif %}
de la actividad seleccionada dando como valor total a pagar de <b><toMoney>{{ data.pago_real }}</toMoney></b>.

<div style="text-align: left;">
<br>
{% if data.is_menor_pago == 1 %}
Dado que su pago total es menor que el mínimo usted recibirá <b><toMoney>{{ data.pago_real }}</toMoney></b>
{% endif %}
<br>
<br>
</div>

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
