{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'final/js/functions.js' %}"></script>
    <link href="{% static 'final/css/styles.css' %}" rel="stylesheet">
    
{% endblock %}

{% block title %}
    Descrição do Pagamento
{% endblock %}

{% block content %}

A atividade selecionada para o seu pagamento foi a # <b>{{ data.n_app }}</b> que é sobre <b>{{ data.nombre_formal }}</b>.
<br>
<br>

{% if data.nombre_app == 'choice_2' %}

Nesta atividade, você selecionou o <b>Investimento {{ data.n_investment }}</b>.
<br>
<br>
A moeda foi jogada pelo computador e saiu 
    {% if data.coin_toss == 'heads' %}
        <b>cara</b>
    {% elif data.coin_toss == 'tails' %}
        <b>coroa</b>
    {% endif %}
    dando um ganho de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'allocations' %}

Nessa atividade, foi selecionado aleatoriamente o problema <b>{{ data.n_problem }}</b> e o cenário <b>{{ data.n_scene }}</b>.
<br><br>
No <b>Investimento A</b>, você investiu <b><toMoney>{{ data.val_invesment_1 }}</toMoney></b>, com uma porcentagem de retorno de <b>{{ data.per_investment_1 }} %</b>. No <b>Investimento B</b>, você investiu <b><toMoney>{{ data.val_invesment_2 }}</toMoney></b>, com uma porcentagem de retorno de <b>{{ data.per_investment_2 }} %</b>. No total, você teve  
    {% if data.payoff_amount_app < 0 %}
        uma perda
    {% else %}
        um ganho
    {% endif %}
de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'real' %}

Nesta atividade, o cenário selecionado aleatoriamente foi o de número <b>{{ data.n_scene }}</b>.
<br><br>
Você investiu <b>{{ data.has_1 }} hectares</b> no <b>Cultivo A</b> dando um retorno de <b><toMoney>{{ data.amount_cultivo_1 }}</toMoney></b> e <b>{{ data.has_2 }} hectares</b> no <b>Cultivo B</b> dando um retorno de <b><toMoney>{{ data.amount_cultivo_2 }}</toMoney></b>. No total, você teve um GANHO de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.

{% elif data.nombre_app == 'choice' %}

Nesta atividade, a moeda selecionada aleatoriamente foi a de número <b>{{ data.n_investment }}</b>. 
<br>
<br>
Você selecionou
    {% if data.eleccion == 0 %}
        NÃO LANÇAR a moeda. Portanto, você não apresenta lucro ou prejuízo ao efetuar um pagamento de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
    {% elif data.eleccion == 1 %}
        LANÇAR a moeda. O computador lançou a moeda e saiu  
            {% if data.coin_toss == 'heads' %}
                <b>cara</b>, e infelizmente você teve uma <b>perda</b> de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
            {% elif data.coin_toss == 'tails' %}
                <b>coroa</b>, e você teve um <b>ganho</b> de <b><toMoney>{{ data.payoff_amount_app }}</toMoney></b>.
            {% endif %}
    {% endif %}

{% endif %}

<br>
<br>
Ao valor inicial de <toMoney>{{ data.pago_base }}</toMoney> se  
{% if data.payoff_amount_app < 0 %}
    subtrai as PERDAS da atividade selecionada, resultando em um valor menor que 20 reais. Como o seu pagamento total é menor que o mínimo, você receberá <b><toMoney>{{ data.pago_real }}</toMoney></b>.
{% else %}
    somam os GANHOS da atividade selecionada, resultando em um valor total a ser pago de <b><toMoney>{{ data.pago_real }}</toMoney></b>.
{% endif %}

<!-- <div style="text-align: left;">
<br>
{% if data.is_menor_pago == 1 %}
Como o seu pagamento total é menor que o mínimo, você receberá <b><toMoney>{{ data.pago_real }}</toMoney></b>.
{% endif %}
<br>
<br>
</div> -->

<div class="div_btnNext">
    {% next_button %}
</div>

{% endblock %}
