{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'final/js/functions.js' %}"></script>
    <link href="{% static 'final/css/styles.css' %}" rel="stylesheet">
    
{% endblock %}

{% block title %}
    Descripción del pago
{% endblock %}

{% block content %}

De las aplicaciones posibles para pago, la seleccionada fue la <b>{{ data.nombre_formal }}</b>.

{% if data.nombre_app == 'Choice' %}

Se seleccionó al azar la fila <b>{{ data.dado }}</b>. 

<br><br>

En esta fila usted seleccionó
    {% if data.eleccion == 0 %}
        "No tirar la moneda", por lo cual su pago es <b><toMoney>{{ data.pago_calculo }}</toMoney></b>.
    {% else %}
        "Tirar la moneda", la cual sale en
            {% if data.moneda == 0 %}
                <b>cara</b>, por lo cual su pago es <b><toMoney>{{ data.pago_calculo }}</toMoney></b>.
            {% else %}
                <b>cruz</b>, por lo cual su pago es <b><toMoney>{{ data.pago_calculo }}</toMoney></b>.
            {% endif %}
    {% endif %}

{% elif data.nombre_app == 'Allocations' %}

En esta actividad se seleccionó al azar el <b>Problema {{ data.n_problema }}</b> y la carta en la posición <b>{{ data.n_escenario }}</b>.
<br><br>
Entonces, los retornos fueron los siguientes: 
<ul>
<li><i>Inversión A</i>: <b>{{ data.retorno_a }}</b></li>
<li><i>Inversión B</i>: <b>{{ data.retorno_b }}</b></li>
</ul>

De los <toMoney>100000</toMoney> usted asignó a la <i>Inversión A</i> <b><toMoney>{{ data.inversion_a }}</toMoney></b> y la <i>Inversión B</i> <b><toMoney>{{ data.inversion_b }}</toMoney></b>. Entonces su pago total sería <b><toMoney>{{ data.pago_calculo }}</toMoney></b>.

<ul>
    <li><i>Inversión A</i>: <toMoney>{{ data.inversion_a }}</toMoney> x {{ data.retorno_a }} = <b><toMoney>{{ data.calc1 }}</toMoney></li></b>
    <li><i>Inversión B</i>: <toMoney>{{ data.inversion_b }}</toMoney> x {{ data.retorno_b }} = <b><toMoney>{{ data.calc2 }}</toMoney></li></b>
</ul>

{% elif data.nombre_app == 'ICL1' %}
<br><br>
<p> En la <b>{{ data.nombre_formal }}</b> usted ganó <toMoney>{{ data.pago_total }}</toMoney>. </p>

{% elif data.nombre_app == 'ICL2' %}
<br><br>
<p> En la <b>{{ data.nombre_formal }}</b> usted ganó <toMoney>{{ data.pago_total }}</toMoney>. </p>

{% endif %}

<div style="margin-top: 10px; text-align: left;">
{% if data.menor_pago == 1%}
Dado que su pago total es menor que el mínimo usted recibirá <b><toMoney>{{ data.pago_total }}</toMoney></b>
{% endif %}
</div>

<br>

<div class="div_btnNext">
    {% next_button %}
</div>

<input type="hidden" name="activity_pay" id="activity_pay" value="{{ data.nombre_app }}">
<input type="hidden" name="menor_pago" id="menor_pago" value="{{ data.menor_pago }}">
<input type="hidden" name="pago_calculo" id="pago_calculo" value="{{ data.pago_calculo }}">
<input type="hidden" name="pago_real" id="pago_real" value="{{ data.pago_total }}">

{% endblock %}
