{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'couple/js/functions.js' %}"></script>
    <link href="{% static 'couple/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var start;
        var n_choices = 0;

        $(document).ready(function () {
            $('.radios').click(
                function (event) {
                    let elements = document.querySelectorAll('.radios');
                    let n_checked = 0;
                    let in_choices = document.getElementById("choices");
                    n_choices += 1;
                    for(let i=0; i<elements.length; i++) {
                        n_checked += elements[i].checked;
                        if(elements[i].checked == 1){
                            let time = Date.now() - start;
                            let radio_value = elements[i].value;
                            in_choices.value += n_choices.toString() + ": {\'option\': " + radio_value + ", \'time\': "+ time.toString()+"}, ";
                        }
                    }
                    if(n_checked == 1) {
                        let btn_next = document.getElementById("btnNext");
                        btn_next.style.display = "block";
                        btn_next.style.margin = "0 auto";
                    }
                }
            );
        });

        window.onload = function(){
            start = Date.now();
            // Usar para agregar punto de miles
            let elements = document.getElementsByTagName("toMoney");
            for(let j=0; j<elements.length; j++) {
                let num = Number(elements[j].innerHTML);
                if (num < 0) {
                    num = num * -1;
                    elements[j].innerHTML = "-$ " + num.toLocaleString('es-CO').toString();
                }else {
                    elements[j].innerHTML = "$ " + num.toLocaleString('es-CO').toString();
                }
            }
        };

        function validate() {
            let in_time = document.getElementById("time_choice");
            in_time.value = Date.now() - start;
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        document.addEventListener('DOMContentLoaded', function() {
            var cells = document.querySelectorAll('.cell_radios');

            cells.forEach(function(cell) {
                cell.addEventListener('mouseover', function() {
                    const columnIndex = Array.from(this.parentElement.children).indexOf(this);
                    const table = this.closest('table');

                    const columnCells = table.querySelectorAll(`.cell_radios:nth-child(${columnIndex + 1})`);
                    columnCells.forEach(function(columnCell) {
                        columnCell.classList.add('cell_hovered');
                    });
                });

                cell.addEventListener('mouseout', function() {
                    const table = this.closest('table');
                    const hoveredCells = table.querySelectorAll('.cell_hovered');
                    hoveredCells.forEach(function(hoveredCell) {
                        hoveredCell.classList.remove('cell_hovered');
                    });
                });
            });
        });

    </script>
{% endblock %}

{% block title %}
    ¿Continua solo o en parejas?
{% endblock %}

{% block content %}
Por favor elija UNA de las siguiente opción de acuerdo con lo que usted prefiere, no hay respuestas correctas o incorrectas.
<br><br>
<table style="width: 90%; margin: 0 auto;">
    <tr>
        <td class="cell_radios_head cell_radios" style="width: 33%;">Opción 1</td>
        <td class="cell_radios_head cell_radios" style="width: 34%;">Opción 2</td>
        <td class="cell_radios_head cell_radios" style="width: 33%;">Opción 3</td>
    </tr>
    <tr>
        <td class="cell_radios">Me gustaría pagar <toMoney>5000</toMoney> pesos para ser EMPAREJADO con un participante al que se le pagará una actividad IGUAL a la seleccionada para mí.</td>
        <td class="cell_radios">Me gustaría continuar SOLO, y que mi pago dependa únicamente de la actividad que el computador seleccione para mí.</td>
        <td class="cell_radios">Me gustaría pagar <toMoney>5000</toMoney> pesos para ser EMPAREJADO con un participante al que se le pagará una actividad DIFERENTE a la seleccionada para mí.</td>
    </tr>
    <tr>
        <td class="cell_radios"><input type="radio" name="option" class="radios" value="paired_equal_activity"></td>
        <td class="cell_radios"><input type="radio" name="option" class="radios" value="single"></td>
        <td class="cell_radios"><input type="radio" name="option" class="radios" value="paired_different_activity"></td>
    </tr>
</table>
<br>
<input type="hidden" name="time_choice" value="" id="time_choice">
<input type="hidden" name="choices" value="{ " id="choices">
<br>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validate()" style="display: none;" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>

{% endblock %}
