{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <link href="{% static 'checker1/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'checker1/js/functions.js' %}"></script>

    <script>
        var start;
        var cnt_errors = 0;

        function validateColor() {
            document.getElementById('time_checker').value = Date.now() - start;
            document.getElementById('cnt_mistakes').value = 0;
            document.getElementById('mistakes_checker').value = '{}';

            /*
            var rad_col = document.getElementsByName("response_checker");
            if(Array.from(rad_col).find(radio => radio.checked).value == "{{ correct_color }}") {
                let time_check = document.getElementById("time_checker");
                // guardamos el tiempo que demoró en dar la respuesta correcta en milisegundos
                time_check.value = Date.now() - start; 
                // guardamos la cantidad de errores
                let cnt_mistakes = document.getElementById("cnt_mistakes");
                cnt_mistakes.value = cnt_errors;
                let mistakes = document.getElementById("mistakes_checker");
                mistakes.value += "}";
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
            } else {
                cnt_errors += 1;
                let div_error = document.getElementById("div_error");
                div_error.style.display = "block";
                let mistakes = document.getElementById("mistakes_checker");
                let time = Date.now() - start;
                let add = cnt_errors.toString() + ": {\'option\': \'" + Array.from(rad_col).find(radio => radio.checked).value + "\', \'time\': " + time + "}, ";
                mistakes.value += add;
            }
            */
            let btn = document.getElementById("id_next");
            btn.removeAttribute("disabled");
            btn.click();
        }

        function restore_error(id_div) {
            let in_answ = document.getElementById(id_div);
            div_error.style.display = "none";
            in_answ.style.boxShadow = "none";
        }

        window.onload = function(){
            start = Date.now();
        };
    </script>
{% endblock %}

{% block title %}
    Pregunta
{% endblock %}

{% block content %}

Gracias por completar la primera actividad. Antes de continuar, nos gustaría hacerle una pregunta rápida.
<br>
<br> 
En estas actividades, hay participantes que no leen atentamente las preguntas y se limitan a hacer clic rápidamente. Esto significa que hay respuestas no pensadas que comprometen los resultados de la investigación. Para demostrar que ha leído atentamente, responda turquesa a la siguiente pregunta: 
<br>
<br>
¿Cuál es su color favorito?
<br>
<br>

<input type="radio" class="radios" name="answer_checker" onchange="restore_error('div_error')" value="{{ colors.0 }}">{{ colors.0 }}
<br>
<input type="radio" class="radios" name="answer_checker" onchange="restore_error('div_error')" value="{{ colors.1 }}">{{ colors.1 }}
<br>
<input type="radio" class="radios" name="answer_checker" onchange="restore_error('div_error')" value="{{ colors.2 }}">{{ colors.2 }}
<br>
<input type="radio" class="radios" name="answer_checker" onchange="restore_error('div_error')" value="{{ colors.3 }}">{{ colors.3 }}
<br>

<input type="hidden" name="cnt_mistakes" value="" id="cnt_mistakes">
<input type="hidden" name="mistakes_checker" value="{ " id="mistakes_checker">
<input type="hidden" name="time_checker" value="" id="time_checker">

<br>

<div class="error_msg" id="div_error">
    Por favor lea atentamente la pregunta y responda de nuevo
</div>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" onclick="validateColor()">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>
{% endblock %}
